<?xml version="1.0" encoding="utf-8"?>
<DataType Key="970339fa-b05e-46ab-aa0b-00687bab210c" Alias="[Toggle] Default true" Level="2">
  <Info>
    <Name>[Toggle] Default true</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>