<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6e44eb6-71b1-4944-b37a-cdf9407e3f93" Alias="500Px" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="500Px" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/q3hojjvr/500px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>