<?xml version="1.0" encoding="utf-8"?>
<Media Key="07df8ca2-e420-4374-b61d-7ac3c787fa99" Alias="Accusoft" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Accusoft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Accusoft" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sogn4bza/accusoft.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>