<?xml version="1.0" encoding="utf-8"?>
<Media Key="578e2b6a-97f0-4bc1-906f-8781644ca180" Alias="Adn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Adn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Adn" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lmvj2v5q/adn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>