<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d4d1fcd-7351-48f8-84ab-2140b5368b85" Alias="Affiliatetheme" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Affiliatetheme</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Affiliatetheme" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5qpf1hkr/affiliatetheme.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>