<?xml version="1.0" encoding="utf-8"?>
<Media Key="f396c6a6-98c5-4df2-b247-fc7a438992e1" Alias="Airbnb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Airbnb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Airbnb" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/s5djn24f/airbnb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>