<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cd68dde-d3e6-4196-8585-db9f69a34b31" Alias="Algolia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Algolia</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Algolia" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/34gnm1hg/algolia.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>