<?xml version="1.0" encoding="utf-8"?>
<Media Key="c03bf1aa-1d9e-4c59-9a11-04b65c5b32be" Alias="Alipay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Alipay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Alipay" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tpydxqe4/alipay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>