<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cebb520-0b18-4b7a-b3c0-77ed24846e83" Alias="Amazon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Amazon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Amazon" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cg0pw1ay/amazon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>