<?xml version="1.0" encoding="utf-8"?>
<Media Key="65ac08c0-5320-4628-a506-eb6dcc3db153" Alias="Amilia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Amilia</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Amilia" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4eekyzja/amilia.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>