<?xml version="1.0" encoding="utf-8"?>
<Media Key="cba99b1d-21b2-4dc4-b1ee-3b7d668d3d41" Alias="Android" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Android</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Android" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fsnlts3s/android.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>