<?xml version="1.0" encoding="utf-8"?>
<Media Key="20b0b8db-4d1e-42a6-9074-fb1b7214ae4e" Alias="Angellist" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Angellist</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Angellist" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3k2laia4/angellist.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>