<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb42fe3-aeb2-4f85-97b0-3a8ceeb69f2b" Alias="Angrycreative" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Angrycreative</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Angrycreative" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0ixlixvs/angrycreative.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>