<?xml version="1.0" encoding="utf-8"?>
<Media Key="f646b41c-b590-45c8-8350-1b168ad63c52" Alias="Angular" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fw0en3uq/angular.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>