<?xml version="1.0" encoding="utf-8"?>
<Media Key="be5a8511-75a9-49fc-b568-637a5c523f8a" Alias="App Store" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AppStore</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="App Store" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/eccfvpvj/app-store.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>