<?xml version="1.0" encoding="utf-8"?>
<Media Key="e285d5e2-29cf-423f-ab58-2454f91216f6" Alias="Apper" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Apper</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Apper" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0pkjlywp/apper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>