<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd69fb8a-d327-47cd-849e-63d46e1e521f" Alias="Apple Pay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ApplePay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Apple Pay" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xp3ht5jh/apple-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>