<?xml version="1.0" encoding="utf-8"?>
<Media Key="703a4a64-7290-486e-ac60-21dfb6749fd3" Alias="Artstation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Artstation</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:24</CreateDate>
    <NodeName Default="Artstation" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kvfdu2eq/artstation.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>