<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb84f72b-d910-4921-b84c-7f8fe2711ab2" Alias="Audible" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Audible</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Audible" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dl1jjsyq/audible.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>