<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1be7be4-043f-4c48-a0ff-05e759561b70" Alias="Autoprefixer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Autoprefixer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Autoprefixer" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0v3l3ij5/autoprefixer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>