<?xml version="1.0" encoding="utf-8"?>
<Media Key="36b9c1c6-478f-4472-a053-8878f25f1f1d" Alias="Avianex" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Avianex</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Avianex" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/45alsnup/avianex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>