<?xml version="1.0" encoding="utf-8"?>
<Media Key="b111b9c0-b154-4b9d-8a76-be68f0bb4ab5" Alias="Aviato" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aviato</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Aviato" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4g2bdmku/aviato.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>