<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ea77afd-6648-4b52-b7e7-48bfef504b3d" Alias="Aws" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aws</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Aws" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zr3kohsi/aws.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>