<?xml version="1.0" encoding="utf-8"?>
<Media Key="3619adb9-7c74-4a9f-8aba-6c9a9801fc2c" Alias="Bandcamp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bandcamp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bandcamp" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rcwbsntu/bandcamp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>