<?xml version="1.0" encoding="utf-8"?>
<Media Key="4515548c-0c2a-463c-9c3d-f3ce7dc64766" Alias="Battle Net" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BattleNet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Battle Net" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xvkbkrjk/battle-net.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>