<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcf7fcf9-b926-41e7-a799-bfa64be31020" Alias="Behance" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Behance</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Behance" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zd4pp5bg/behance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>