<?xml version="1.0" encoding="utf-8"?>
<Media Key="af90bf12-122c-4774-a255-fda3697d03e2" Alias="Bilibili" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bilibili</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bilibili" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/eo5jblzm/bilibili.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>