<?xml version="1.0" encoding="utf-8"?>
<Media Key="419ee762-09b6-4573-8b58-5d7a0bf9140d" Alias="Bimobject" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bimobject</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bimobject" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kptj2qnw/bimobject.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>