<?xml version="1.0" encoding="utf-8"?>
<Media Key="25f1b4a1-a79d-4f44-b643-0bf71b226a0b" Alias="Bitbucket" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bitbucket</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bitbucket" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sc0pcjm3/bitbucket.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>