<?xml version="1.0" encoding="utf-8"?>
<Media Key="909eb65a-7f5f-436a-8cf3-5426b670aa11" Alias="Bitcoin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bitcoin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bitcoin" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/no1j3ec5/bitcoin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>