<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafa2805-d65f-45ed-957c-4d84c00a9184" Alias="Bity" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bity" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gqupvos5/bity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>