<?xml version="1.0" encoding="utf-8"?>
<Media Key="127dc882-bb37-43ee-8dec-258848a6cbbe" Alias="Black Tie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlackTie</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Black Tie" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wpeh0erx/black-tie.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>