<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4cbcd0c-8ff1-4849-ab96-7a681cb47e4c" Alias="Blogger" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blogger</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Blogger" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hxgnx3hr/blogger.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>