<?xml version="1.0" encoding="utf-8"?>
<Media Key="8443a4d3-eefc-438a-bad4-bbee3c01a70c" Alias="Blogger B" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BloggerB</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Blogger B" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2ksehbh2/blogger-b.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>