<?xml version="1.0" encoding="utf-8"?>
<Media Key="873cafa8-ffd4-41cb-ad2b-1e7faf622418" Alias="Bluetooth B" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BluetoothB</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bluetooth B" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tgxdzb4u/bluetooth-b.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>