<?xml version="1.0" encoding="utf-8"?>
<Media Key="280763cb-caee-467e-93db-cf81eaf9b4eb" Alias="Bluetooth" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bluetooth</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bluetooth" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5jrbokho/bluetooth.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>