<?xml version="1.0" encoding="utf-8"?>
<Media Key="19e57dbe-27bc-4ca3-91cc-4702e3780ab4" Alias="Bootstrap" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r34pkgn2/bootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>