<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f4dfa8d-d14e-4406-9041-1081c35bf59b" Alias="Bots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bots</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Bots" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xt3e050o/bots.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>