<?xml version="1.0" encoding="utf-8"?>
<Media Key="78af6e49-6e8c-4c89-81e6-df0d5f5062c6" Alias="Brave" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brave</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Brave" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pbxk44em/brave.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>