<?xml version="1.0" encoding="utf-8"?>
<Media Key="40ebcc2c-fd43-42b0-9002-38bb4722b602" Alias="Brave Reverse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BraveReverse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Brave Reverse" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dxgowqcd/brave-reverse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>