<?xml version="1.0" encoding="utf-8"?>
<Media Key="04a696ed-60a3-473f-b83a-5e0ebbefdcb9" Alias="Btc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Btc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Btc" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1slkmbfd/btc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>