<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e162f92-d03a-4408-a038-8d36f9c71821" Alias="Buffer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Buffer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Buffer" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/umxbmdr0/buffer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>