<?xml version="1.0" encoding="utf-8"?>
<Media Key="770a499a-4cb5-41c0-a926-59233ccacc05" Alias="Buromobelexperte" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Buromobelexperte</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Buromobelexperte" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vnebu33v/buromobelexperte.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>