<?xml version="1.0" encoding="utf-8"?>
<Media Key="d982e66e-77cd-40f0-ad21-b5a4b700bb49" Alias="Buy N Large" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BuyNLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Buy N Large" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/l5tifwon/buy-n-large.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>