<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2dbe68c-c9ee-47f5-8821-85ea7de1d02a" Alias="Buysellads" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Buysellads</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Buysellads" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xxtnxqxo/buysellads.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>