<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2571889-efbd-47a0-8de6-9d4a11663bb1" Alias="Cc Amex" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcAmex</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Cc Amex" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xamfpiv3/cc-amex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>