<?xml version="1.0" encoding="utf-8"?>
<Media Key="09bbf35e-f259-4938-b3d5-6649a78d63cb" Alias="Cc Apple Pay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcApplePay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Apple Pay" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/n5zlwckz/cc-apple-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>