<?xml version="1.0" encoding="utf-8"?>
<Media Key="b550fe98-9131-44e1-9491-6251ec1064f1" Alias="Cc Amazon Pay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcAmazonPay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:25</CreateDate>
    <NodeName Default="Cc Amazon Pay" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vh5fbnjr/cc-amazon-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>