<?xml version="1.0" encoding="utf-8"?>
<Media Key="788f9087-7a0c-4828-ba0b-0051f8713043" Alias="Cc Diners Club" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcDinersClub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Diners Club" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w0ii44am/cc-diners-club.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>