<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee4b96f6-aec3-4f67-b60a-40acab431d9c" Alias="Cc Jcb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcJcb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Jcb" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/y4lex1wd/cc-jcb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>