<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f5052af-df6e-4b07-9c9d-87b87c2e4400" Alias="Cc Paypal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcPaypal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Paypal" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tzjfax1o/cc-paypal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>