<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c6c9793-6c24-4920-946e-8c373e79d550" Alias="Cc Stripe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcStripe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Stripe" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uklhydbe/cc-stripe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>