<?xml version="1.0" encoding="utf-8"?>
<Media Key="40b5b3d2-0ccb-4827-b253-6415bff821cf" Alias="Cc Visa" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CcVisa</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cc Visa" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2ozlkqgl/cc-visa.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>