<?xml version="1.0" encoding="utf-8"?>
<Media Key="dadae74b-b8de-4837-89dd-523a5732d66d" Alias="Centercode" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Centercode</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Centercode" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pltnvww4/centercode.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>