<?xml version="1.0" encoding="utf-8"?>
<Media Key="404c85e9-356b-4c7f-8fc4-83d4714e6cce" Alias="Centos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Centos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Centos" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1ccfyqdl/centos.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>