<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6e4bfd3-d1f9-484a-9b23-8bea371dd761" Alias="Chromecast" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chromecast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Chromecast" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2k5pjjxz/chromecast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>