<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6b1f9d-1e0d-41b3-91bc-fb1303a03d3d" Alias="Cloudversify" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cloudversify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cloudversify" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vqphxsyn/cloudversify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>