<?xml version="1.0" encoding="utf-8"?>
<Media Key="1977e3a1-a059-4b29-9eb9-eee66415ed6b" Alias="Cloudflare" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cloudflare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cloudflare" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sdrhogkz/cloudflare.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>