<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f5a11d4-1a6f-47a8-b843-afdace59960d" Alias="Cloudscale" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cloudscale</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cloudscale" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2uiful1p/cloudscale.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>