<?xml version="1.0" encoding="utf-8"?>
<Media Key="c751a1d3-fc73-4ac7-b0af-adf48f13aecc" Alias="Cloudsmith" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cloudsmith</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cloudsmith" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2kqfdr1t/cloudsmith.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>