<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bc14fe0-7dd7-42be-b2b4-b1aa17e305d8" Alias="Codepen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Codepen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Codepen" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0fhndg4x/codepen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>