<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b52a65b-2824-4077-a377-ba151f9a6cb7" Alias="Codiepie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Codiepie</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Codiepie" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nktfecze/codiepie.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>