<?xml version="1.0" encoding="utf-8"?>
<Media Key="7beae46e-c1cc-4272-983d-bdc44eb9ea93" Alias="Confluence" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Confluence</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Confluence" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/l5sou44m/confluence.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>