<?xml version="1.0" encoding="utf-8"?>
<Media Key="1916129f-e817-4a03-9601-94449d991c1d" Alias="Connectdevelop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Connectdevelop</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Connectdevelop" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vyjbmgix/connectdevelop.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>