<?xml version="1.0" encoding="utf-8"?>
<Media Key="d619f7bf-d573-4ca4-9680-33f960ed4254" Alias="Contao" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contao</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Contao" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r11btvtt/contao.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>