<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2fe8fe7-1afe-4e56-b216-1fe8b8667645" Alias="Cotton Bureau" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CottonBureau</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cotton Bureau" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/00hp32x4/cotton-bureau.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>