<?xml version="1.0" encoding="utf-8"?>
<Media Key="81d097bd-9e97-42c0-ab8b-68d3b1c936e9" Alias="Cpanel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cpanel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Cpanel" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rslnbamx/cpanel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>