<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce10380c-0228-466c-a964-e54c3c8c0aa2" Alias="Creative Commons Pd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsPd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Pd" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hu2bbtri/creative-commons-pd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>