<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7ace60b-c91c-4ff8-9cdf-c2055363bdad" Alias="Creative Commons Sampling" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsSampling</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Sampling" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hltkzry2/creative-commons-sampling.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>