<?xml version="1.0" encoding="utf-8"?>
<Media Key="082baae0-ba9c-438d-9cb6-3fe177c11d02" Alias="Creative Commons Nc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsNc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Nc" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0gvcwce2/creative-commons-nc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>