<?xml version="1.0" encoding="utf-8"?>
<Media Key="581f7aa9-f31c-44e9-8742-220d56b84e41" Alias="Creative Commons By" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsBy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons By" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tb3b4wa2/creative-commons-by.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>