<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed858166-507a-474b-ab99-202c905908a9" Alias="Creative Commons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommons</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/k4ajl1l0/creative-commons.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>