<?xml version="1.0" encoding="utf-8"?>
<Media Key="38c72e75-e712-4506-84d9-d75f6288dcd4" Alias="Creative Commons Zero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsZero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Zero" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/iqxmooas/creative-commons-zero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>