<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3f97504-976f-4221-bec5-ef3339393b4b" Alias="Creative Commons Remix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsRemix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Remix" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gv0pt21p/creative-commons-remix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>