<?xml version="1.0" encoding="utf-8"?>
<Media Key="64d86c04-0970-4d27-bc81-0da56095737c" Alias="Creative Commons Sampling Plus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsSamplingPlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Sampling Plus" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gvwnqzdq/creative-commons-sampling-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>