<?xml version="1.0" encoding="utf-8"?>
<Media Key="69cd9554-6604-408f-af22-98943fcf65c7" Alias="Creative Commons Pd Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsPdAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Pd Alt" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mwkn00ie/creative-commons-pd-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>