<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0cdf6ec-d858-4e99-867e-e7006050f2cf" Alias="Creative Commons Nc Jp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsNcJp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Nc Jp" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1x1m1mcy/creative-commons-nc-jp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>