<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d421b86-79ce-4550-8bfb-8b147f1858f7" Alias="Creative Commons Sa" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsSa</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Sa" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w2nfepoo/creative-commons-sa.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>