<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e7a19fa-65e3-432c-8796-9720996e348d" Alias="Creative Commons Share" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreativeCommonsShare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Creative Commons Share" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zmmhu1xd/creative-commons-share.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>