<?xml version="1.0" encoding="utf-8"?>
<Media Key="594633d8-d5ff-42cd-8d24-b0479a049e2b" Alias="Critical Role" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CriticalRole</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Critical Role" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3ezfmwp5/critical-role.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>