<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7bc30c5-6476-41f9-8e8d-af032e084650" Alias="Css3 Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Css3Alt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Css3 Alt" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4qylzr1w/css3-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>