<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f191d0d-181b-4689-8e78-6e86bf43a529" Alias="Css3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Css3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:26</CreateDate>
    <NodeName Default="Css3" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hqobshy1/css3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>