<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c5e82e0-eb68-40e9-8449-e90bdedd62fd" Alias="Cuttlefish" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cuttlefish</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Cuttlefish" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0gbf3ddi/cuttlefish.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>