<?xml version="1.0" encoding="utf-8"?>
<Media Key="449cbbab-d593-4dee-8eb0-9cdacf1f1160" Alias="D And D" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DAndD</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="D And D" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tk3jyret/d-and-d.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>