<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8e8c86-a2f2-44de-8515-06eaa714d354" Alias="D And D Beyond" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DAndDBeyond</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="D And D Beyond" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w4gi3p5s/d-and-d-beyond.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>