<?xml version="1.0" encoding="utf-8"?>
<Media Key="165d644b-7954-44d1-b9b8-769a0afa66bb" Alias="Dailymotion" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dailymotion</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dailymotion" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pjsf0fsu/dailymotion.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>