<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b237080-b39d-4d81-aa76-aa47f6731db4" Alias="Dart Lang" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DartLang</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dart Lang" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wfycg423/dart-lang.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>