<?xml version="1.0" encoding="utf-8"?>
<Media Key="191e50b2-9c4a-4c4f-92d4-ede90ecd309c" Alias="Dashcube" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dashcube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dashcube" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qnib2gkk/dashcube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>