<?xml version="1.0" encoding="utf-8"?>
<Media Key="00ce2055-58c0-41a2-a07f-734fb342c9e3" Alias="Debian" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Debian</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Debian" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mqqm2aga/debian.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>