<?xml version="1.0" encoding="utf-8"?>
<Media Key="0984bc40-e43b-4d6e-84c9-3bc835980c40" Alias="Deezer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deezer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Deezer" />
    <SortOrder>108</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/og4iicj1/deezer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>