<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bf04e06-ed07-4215-97b0-30f82180f60d" Alias="Delicious" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Delicious</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Delicious" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/g3hpa4yh/delicious.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>