<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb923bd2-1580-4d34-9b57-a6a7c2369705" Alias="Deploydog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deploydog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Deploydog" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2m3jf02a/deploydog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>