<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cdc2239-c8bd-478b-a621-c8f20c747b67" Alias="Deskpro" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deskpro</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Deskpro" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/barnyhf3/deskpro.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>