<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6746f87-1257-4166-9e46-c3bed896f86d" Alias="Dev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dev</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dev" />
    <SortOrder>112</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wzxhjrsx/dev.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>