<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2d8bcb3-cb59-4bdc-9357-3a77c7012779" Alias="Deviantart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deviantart</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Deviantart" />
    <SortOrder>113</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qk4nr2sz/deviantart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>