<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f37d434-2bcf-4caf-8d81-696f9691de35" Alias="Dhl" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dhl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dhl" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/axkdop4p/dhl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>