<?xml version="1.0" encoding="utf-8"?>
<Media Key="01fb167e-c9c5-4d3f-94bf-d9f328f48b2e" Alias="Diaspora" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Diaspora</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Diaspora" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/j2lpwaof/diaspora.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>