<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a354d6a-9d8e-424e-9488-2b6f2e3a3ef2" Alias="Digg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Digg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Digg" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lngdlcuo/digg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>