<?xml version="1.0" encoding="utf-8"?>
<Media Key="1efb3e77-bbf3-48d9-b487-6ad58021bc0e" Alias="Digital Ocean" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DigitalOcean</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Digital Ocean" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/iy5pwhxt/digital-ocean.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>