<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae057729-1dab-4381-a771-aa76bc545ada" Alias="Discourse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Discourse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Discourse" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/db1bllvl/discourse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>