<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6f6c61d-a2f3-4ad8-acdd-808809650a7a" Alias="Discord" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Discord</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Discord" />
    <SortOrder>118</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ftdpn3xt/discord.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>