<?xml version="1.0" encoding="utf-8"?>
<Media Key="39608d96-8ef3-4045-b97c-d98f88ad8864" Alias="Dochub" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dochub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dochub" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/u4ghaopt/dochub.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>