<?xml version="1.0" encoding="utf-8"?>
<Media Key="144d34f4-c9c0-47cb-a8b7-1557baa06fa3" Alias="Docker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Docker</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Docker" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yu0e0fga/docker.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>