<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffd8f25f-4d35-4815-b50d-bd1ee8e341e5" Alias="Draft2digital" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Draft2digital</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Draft2digital" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/n1znr5zv/draft2digital.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>