<?xml version="1.0" encoding="utf-8"?>
<Media Key="e81fbba3-9e28-4158-b807-72dcf872ac79" Alias="Dribbble" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dribbble</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dribbble" />
    <SortOrder>123</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sk3b50bi/dribbble.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>