<?xml version="1.0" encoding="utf-8"?>
<Media Key="1204408b-3c08-4376-81ca-8d3e5461044f" Alias="Dropbox" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dropbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dropbox" />
    <SortOrder>124</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xjaaieqi/dropbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>