<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2cae843-99b9-4f53-a45e-5e34ede5df65" Alias="Drupal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Drupal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Drupal" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/olumvyvz/drupal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>