<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1d56b5c-ad9c-4b59-be8e-d7e757a31621" Alias="Dyalog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dyalog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Dyalog" />
    <SortOrder>126</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nvvnlqm2/dyalog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>