<?xml version="1.0" encoding="utf-8"?>
<Media Key="625f05fa-6cce-42e3-83a8-27497e4c71a4" Alias="Earlybirds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Earlybirds</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Earlybirds" />
    <SortOrder>127</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zmcf4ywo/earlybirds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>