<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d350760-4424-4a40-a0b3-ac055e6bc240" Alias="Ebay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ebay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Ebay" />
    <SortOrder>128</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/keddklje/ebay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>