<?xml version="1.0" encoding="utf-8"?>
<Media Key="17297dd0-1456-4cfc-9276-57b90d13516c" Alias="Edge Legacy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EdgeLegacy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Edge Legacy" />
    <SortOrder>130</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2f4dsf0w/edge-legacy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>