<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef608d3e-df3c-4a1f-8a24-c430cf65d97c" Alias="Edge" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Edge</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Edge" />
    <SortOrder>129</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/b4ghb1z2/edge.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>