<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b8550f6-bbbf-41e0-90ae-3209087036d0" Alias="Elementor" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Elementor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Elementor" />
    <SortOrder>131</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/y3iikc35/elementor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>