<?xml version="1.0" encoding="utf-8"?>
<Media Key="42bbc921-471f-45ae-a9da-6cd1a23bdb27" Alias="Ello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ello</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Ello" />
    <SortOrder>132</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cdelwqq5/ello.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>