<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cbe4c42-a88d-44e1-91db-0b3b04006ba3" Alias="Ember" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ember</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Ember" />
    <SortOrder>133</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ongl2len/ember.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>