<?xml version="1.0" encoding="utf-8"?>
<Media Key="f801f4fb-e6d4-4bd8-8aac-064625de921a" Alias="Empire" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Empire</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Empire" />
    <SortOrder>134</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zl0ad4gu/empire.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>