<?xml version="1.0" encoding="utf-8"?>
<Media Key="25589905-f82a-49bf-b8c1-fdaf0cca3ac7" Alias="Envira" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Envira</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Envira" />
    <SortOrder>135</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gsmfqjjk/envira.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>