<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e45d7b1-5ee9-450e-a854-f4414d5341b7" Alias="Erlang" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Erlang</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Erlang" />
    <SortOrder>136</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qdlfklxj/erlang.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>