<?xml version="1.0" encoding="utf-8"?>
<Media Key="0adcf98c-78bb-4004-9e56-c7af7f588da4" Alias="Ethereum" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ethereum</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:27</CreateDate>
    <NodeName Default="Ethereum" />
    <SortOrder>137</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xx2nycv1/ethereum.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>