<?xml version="1.0" encoding="utf-8"?>
<Media Key="46b60ace-a843-4d95-b6c0-38ad22564761" Alias="Etsy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Etsy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Etsy" />
    <SortOrder>138</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/52flmrsd/etsy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>