<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac40dcf1-0e43-492b-a249-36ae64c0bcf8" Alias="Evernote" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Evernote</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Evernote" />
    <SortOrder>139</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ydoeblcd/evernote.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>