<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e06f097-9229-4d70-bdd1-b08680d16b8b" Alias="Expeditedssl" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Expeditedssl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Expeditedssl" />
    <SortOrder>140</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/u1yamdrj/expeditedssl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>