<?xml version="1.0" encoding="utf-8"?>
<Media Key="c84dcd7f-c88d-4f6e-8f1f-06e8bdf7f9aa" Alias="Facebook F" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FacebookF</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Facebook F" />
    <SortOrder>142</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/j1gf1sen/facebook-f.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>