<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f35268-6d06-4ffd-afee-a8d0e3ab52ee" Alias="Facebook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>141</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lfjpgnig/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>