<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bc2589f-7c32-431e-9c12-8b09f54f900f" Alias="Facebook Messenger" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FacebookMessenger</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Facebook Messenger" />
    <SortOrder>143</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vzmme0zs/facebook-messenger.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>