<?xml version="1.0" encoding="utf-8"?>
<Media Key="04263eb8-7345-4342-8936-344e68b62559" Alias="Fantasy Flight Games" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FantasyFlightGames</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fantasy Flight Games" />
    <SortOrder>144</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/re5cmbcf/fantasy-flight-games.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>