<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb04d3f4-dffc-44af-b625-0e4923eb9c4d" Alias="Fedex" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fedex</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fedex" />
    <SortOrder>145</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yxjbj052/fedex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>