<?xml version="1.0" encoding="utf-8"?>
<Media Key="632202ec-f769-42cc-88c9-3a37c3d4a95a" Alias="Fedora" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fedora</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fedora" />
    <SortOrder>146</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1ubcey1j/fedora.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>