<?xml version="1.0" encoding="utf-8"?>
<Media Key="153ce682-3677-4302-b607-2025e1bb3e16" Alias="Figma" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Figma</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Figma" />
    <SortOrder>147</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wptdyflx/figma.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>