<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1835001-8fa7-4a56-890d-29fdf11dabc6" Alias="Firefox Browser" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FirefoxBrowser</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Firefox Browser" />
    <SortOrder>149</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gbiih2nh/firefox-browser.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>