<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a5e6f9-3b28-40f3-83f4-8ef7a60f33e5" Alias="Firefox" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Firefox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Firefox" />
    <SortOrder>148</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zdtklrzi/firefox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>