<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bf62fb9-d5b8-41ba-a4be-5c1318913441" Alias="First Order Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FirstOrderAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="First Order Alt" />
    <SortOrder>152</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/raxpmk3y/first-order-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>