<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8cc5096-7166-48c3-bd0a-31a451625261" Alias="Firstdraft" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Firstdraft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Firstdraft" />
    <SortOrder>150</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/u3imz4dg/firstdraft.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>