<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0c7ad38-f440-45f0-bad9-eca4778046d2" Alias="First Order" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FirstOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="First Order" />
    <SortOrder>151</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bgwnpica/first-order.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>