<?xml version="1.0" encoding="utf-8"?>
<Media Key="97c545a2-1165-48d3-92e1-65ebc4ed3c17" Alias="Flickr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Flickr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Flickr" />
    <SortOrder>153</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sncnlf1f/flickr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>