<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab3bc087-e5c1-4236-a5d5-d324ad6a228b" Alias="Flipboard" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Flipboard</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Flipboard" />
    <SortOrder>154</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w1adxk4b/flipboard.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>