<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6aac1e8-b3d8-45e2-a4cd-4f81acc05040" Alias="Flutter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Flutter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Flutter" />
    <SortOrder>155</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1halvnwy/flutter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>