<?xml version="1.0" encoding="utf-8"?>
<Media Key="37138bc3-c98a-40ac-bb9c-0d8333e29958" Alias="Fly" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fly</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fly" />
    <SortOrder>156</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4kfbgn2k/fly.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>