<?xml version="1.0" encoding="utf-8"?>
<Media Key="07790428-f7fb-4185-8d65-c8007bea59d4" Alias="Fonticons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fonticons</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fonticons" />
    <SortOrder>158</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dechsb51/fonticons.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>