<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9af0952-dfeb-4af0-9301-8400a547e3f6" Alias="Fonticons Fi" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FonticonsFi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fonticons Fi" />
    <SortOrder>159</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mmel5opl/fonticons-fi.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>