<?xml version="1.0" encoding="utf-8"?>
<Media Key="3832d70c-f5f6-47f2-8d9d-0700ecb26448" Alias="Fort Awesome Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FortAwesomeAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fort Awesome Alt" />
    <SortOrder>161</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hxldeohw/fort-awesome-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>