<?xml version="1.0" encoding="utf-8"?>
<Media Key="14a7d7e8-05c8-48b6-a491-6d5c3eb15dd3" Alias="Foursquare" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Foursquare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Foursquare" />
    <SortOrder>163</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1hllofgi/foursquare.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>