<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6ac6649-85e3-4954-b084-2968d5094c90" Alias="Freebsd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Freebsd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Freebsd" />
    <SortOrder>164</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pbtkznxd/freebsd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>