<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b7a0181-55ba-421d-96d0-1aea4f9ac802" Alias="Fulcrum" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fulcrum</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Fulcrum" />
    <SortOrder>166</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/waahu030/fulcrum.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>