<?xml version="1.0" encoding="utf-8"?>
<Media Key="93191165-43e3-4389-9f22-271d70c640e1" Alias="Galactic Republic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GalacticRepublic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Galactic Republic" />
    <SortOrder>167</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kqibte5d/galactic-republic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>