<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d06bba1-1206-4409-813f-ba09562efda8" Alias="Get Pocket" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GetPocket</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Get Pocket" />
    <SortOrder>169</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sc3bmlig/get-pocket.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>