<?xml version="1.0" encoding="utf-8"?>
<Media Key="c90ba3f5-36ff-4dd5-a57b-f9b5be31f972" Alias="Gg Circle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GgCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Gg Circle" />
    <SortOrder>171</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ysrbxsp5/gg-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>