<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a382d53-5597-409e-a2a1-ba9d675a5bed" Alias="Gg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Gg" />
    <SortOrder>170</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/miwdrcux/gg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>