<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b2cdb1d-7e35-41a0-bc4b-55f0025ac5d3" Alias="Git Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GitAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Git Alt" />
    <SortOrder>173</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ftndy0zv/git-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>