<?xml version="1.0" encoding="utf-8"?>
<Media Key="58bd7d71-530d-4e3d-910a-3c38721983a0" Alias="Git" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Git</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Git" />
    <SortOrder>172</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ib4l0wan/git.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>