<?xml version="1.0" encoding="utf-8"?>
<Media Key="af78643c-393f-4a92-92e0-b55cdb44c0e8" Alias="Github Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GithubAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Github Alt" />
    <SortOrder>175</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bvshrlz5/github-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>