<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8d59d23-46ce-4ef8-82c0-0e96573c7966" Alias="Github" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Github</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Github" />
    <SortOrder>174</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ckonlkgo/github.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>