<?xml version="1.0" encoding="utf-8"?>
<Media Key="18891385-fc61-4aa5-947d-9b73bae8157e" Alias="Gitkraken" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gitkraken</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:28</CreateDate>
    <NodeName Default="Gitkraken" />
    <SortOrder>176</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wqjjsgdb/gitkraken.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>