<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b078939-d68c-483a-a709-0b32db6b8d7b" Alias="Gitlab" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gitlab</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Gitlab" />
    <SortOrder>177</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bceboc2m/gitlab.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>