<?xml version="1.0" encoding="utf-8"?>
<Media Key="12286249-3981-43da-8b99-5c2292a84674" Alias="Glide" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Glide</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Glide" />
    <SortOrder>179</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pbrcqeub/glide.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>