<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbf84f76-8a93-413f-b94b-48d2c5c2680a" Alias="Glide G" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlideG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Glide G" />
    <SortOrder>180</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/i3hprw2t/glide-g.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>