<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f58b1ce-e9bd-42f8-b998-2a35934b1df3" Alias="Gofore" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gofore</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Gofore" />
    <SortOrder>181</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/54yfqt33/gofore.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>