<?xml version="1.0" encoding="utf-8"?>
<Media Key="993cc5bb-8995-456a-abb1-77f42e496b90" Alias="Golang" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Golang</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Golang" />
    <SortOrder>182</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rlcdzgmv/golang.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>