<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f509a9d-8a1a-4975-a2de-c5f52162b4b0" Alias="Goodreads G" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GoodreadsG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Goodreads G" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vsnfa5y0/goodreads-g.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>