<?xml version="1.0" encoding="utf-8"?>
<Media Key="76694302-1580-49a7-a555-34f3fb3747ee" Alias="Google Play" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GooglePlay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Play" />
    <SortOrder>188</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gnbhs3ua/google-play.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>