<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1f19bae-ad49-49ec-8cca-938f014f4ed4" Alias="Google Scholar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GoogleScholar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Scholar" />
    <SortOrder>191</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/t4npdukj/google-scholar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>