<?xml version="1.0" encoding="utf-8"?>
<Media Key="cace8b14-d045-4f99-8365-ce561cd32115" Alias="Google Wallet" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GoogleWallet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Wallet" />
    <SortOrder>192</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ewfn3ssf/google-wallet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>