<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0f8f751-0309-4d22-9177-e9c362a951b0" Alias="Google Pay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GooglePay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Pay" />
    <SortOrder>187</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/md1pruaj/google-pay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>