<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f86a7db-c4e3-4d0f-a53c-1bcf1bdfa92b" Alias="Google Plus G" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GooglePlusG</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Plus G" />
    <SortOrder>190</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3ktjmh5d/google-plus-g.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>