<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e6d365c-57ca-4f43-b619-8d2f9f6cfa1d" Alias="Google Drive" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GoogleDrive</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Drive" />
    <SortOrder>186</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nu1g0xwk/google-drive.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>