<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae73975e-c2aa-4418-9641-71e41934abc3" Alias="Google" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Google</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google" />
    <SortOrder>185</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/n4lhhlvk/google.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>