<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec31c81-71e2-4828-a182-385d298acae0" Alias="Google Plus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GooglePlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Google Plus" />
    <SortOrder>189</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/waomhxxc/google-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>