<?xml version="1.0" encoding="utf-8"?>
<Media Key="c98765e5-dc28-4bc9-ae87-c320b95df708" Alias="Gratipay" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gratipay</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Gratipay" />
    <SortOrder>193</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0rsjpsji/gratipay.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>