<?xml version="1.0" encoding="utf-8"?>
<Media Key="99115385-23bd-4841-9178-de56100ab9ad" Alias="Grav" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Grav</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Grav" />
    <SortOrder>194</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wrjbdgn3/grav.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>