<?xml version="1.0" encoding="utf-8"?>
<Media Key="18b73eab-c058-4ec2-8180-eedb4150355d" Alias="Grunt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Grunt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Grunt" />
    <SortOrder>196</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ti5logcy/grunt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>