<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad0e15e2-e537-4d5d-9c51-4ff38bea11bd" Alias="Guilded" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Guilded</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Guilded" />
    <SortOrder>197</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0mkb3ljx/guilded.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>