<?xml version="1.0" encoding="utf-8"?>
<Media Key="14dd8f35-4041-4184-88a2-b7617b0dfa41" Alias="Gulp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gulp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Gulp" />
    <SortOrder>198</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ashn0fcb/gulp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>