<?xml version="1.0" encoding="utf-8"?>
<Media Key="aefdc2d0-6d3d-4a5f-9ae1-8e2a6fa946de" Alias="Hacker News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HackerNews</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hacker News" />
    <SortOrder>199</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2hbp1lr3/hacker-news.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>