<?xml version="1.0" encoding="utf-8"?>
<Media Key="dffd5ae8-4a1f-4a69-b2d2-72030f49df3c" Alias="Hackerrank" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hackerrank</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hackerrank" />
    <SortOrder>200</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1fnp1xy5/hackerrank.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>