<?xml version="1.0" encoding="utf-8"?>
<Media Key="52b08b98-9ed2-4f6a-9069-2052220235ab" Alias="Hips" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hips</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hips" />
    <SortOrder>202</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vgflauws/hips.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>