<?xml version="1.0" encoding="utf-8"?>
<Media Key="812d7d2e-e083-49c7-8af9-e0e13c7e898d" Alias="Hire A Helper" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HireAHelper</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hire A Helper" />
    <SortOrder>203</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/d34d1amd/hire-a-helper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>