<?xml version="1.0" encoding="utf-8"?>
<Media Key="34f37c50-7f3c-41f0-9499-5c4405b53c1c" Alias="Hive" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hive</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hive" />
    <SortOrder>204</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mf4pgnb2/hive.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>