<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ec00191-c34c-4737-bde5-35b4cf7206e1" Alias="Hooli" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hooli</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hooli" />
    <SortOrder>205</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uaanbdsm/hooli.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>