<?xml version="1.0" encoding="utf-8"?>
<Media Key="0495713a-98d7-4133-a2dc-0bc31cec2b49" Alias="Hotjar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hotjar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Hotjar" />
    <SortOrder>207</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bnyjkbgx/hotjar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>