<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1d204a4-5230-43f7-9699-a5cfbf78bc37" Alias="Houzz" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Houzz</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:29</CreateDate>
    <NodeName Default="Houzz" />
    <SortOrder>208</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sucnfijq/houzz.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>