<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b1959e8-cfa5-459e-b8f1-0fa01b92d2ce" Alias="Html5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Html5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Html5" />
    <SortOrder>209</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1fmbss3f/html5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>