<?xml version="1.0" encoding="utf-8"?>
<Media Key="270148b2-9fbd-44ff-8284-1d907f6c7319" Alias="Hubspot" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hubspot</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Hubspot" />
    <SortOrder>210</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qneacj33/hubspot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>