<?xml version="1.0" encoding="utf-8"?>
<Media Key="35e59f21-5a36-4c56-a1c8-2b14dac433d3" Alias="Ideal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ideal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Ideal" />
    <SortOrder>211</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ccppknjw/ideal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>