<?xml version="1.0" encoding="utf-8"?>
<Media Key="895d6341-1ae3-4b50-945b-f02f6040251d" Alias="Imdb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imdb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Imdb" />
    <SortOrder>212</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/obrf1cpd/imdb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>