<?xml version="1.0" encoding="utf-8"?>
<Media Key="086c8c5a-2ed4-4e87-b4fe-22c78c8bf772" Alias="Instalod" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Instalod</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Instalod" />
    <SortOrder>214</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/noggycgu/instalod.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>