<?xml version="1.0" encoding="utf-8"?>
<Media Key="84b8dbdf-5c78-4f78-b6db-fc30a2538cb9" Alias="Instagram" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:30</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>213</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/31nlrbdy/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>