<?xml version="1.0" encoding="utf-8"?>
<Media Key="49258d98-c4d4-4620-81e5-a1f7b823491f" Alias="Internet Explorer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InternetExplorer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Internet Explorer" />
    <SortOrder>216</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vggdksou/internet-explorer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>