<?xml version="1.0" encoding="utf-8"?>
<Media Key="045b1efc-6e5b-4ca1-83a2-8e89b2c703c5" Alias="Invision" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Invision</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Invision" />
    <SortOrder>217</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zupfwbc1/invision.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>