<?xml version="1.0" encoding="utf-8"?>
<Media Key="22b966b5-6585-4382-842d-8c8c3888d9bf" Alias="Ioxhost" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ioxhost</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Ioxhost" />
    <SortOrder>218</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qrtlsiuf/ioxhost.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>