<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aa27144-87a2-4846-b859-7d0880862a50" Alias="Itch Io" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ItchIo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Itch Io" />
    <SortOrder>219</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ovylewvc/itch-io.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>