<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa9da93e-24cd-4dfa-ba6c-f4052fde598b" Alias="Itunes Note" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ItunesNote</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Itunes Note" />
    <SortOrder>221</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/b4uj1kwn/itunes-note.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>