<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0caa8aa-71fb-47e0-9a8d-eb707aa00cf4" Alias="Java" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Java</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Java" />
    <SortOrder>222</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/toumvih1/java.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>