<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3b91411-56c1-4cdb-ad41-16f3e89075e5" Alias="Jenkins" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jenkins</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Jenkins" />
    <SortOrder>224</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/eakltm4b/jenkins.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>