<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aaf0a97-e803-48fd-a12b-9edc4e992728" Alias="Joomla" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Joomla</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Joomla" />
    <SortOrder>227</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uyfk5cqd/joomla.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>