<?xml version="1.0" encoding="utf-8"?>
<Media Key="455bdb9d-2f18-4554-b7bb-dc040041f074" Alias="Js" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Js</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Js" />
    <SortOrder>228</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vtnfwriy/js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>