<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d20dd16-2588-4c6c-9113-90df4d788902" Alias="Jsfiddle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jsfiddle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Jsfiddle" />
    <SortOrder>229</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/e5oda5mi/jsfiddle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>