<?xml version="1.0" encoding="utf-8"?>
<Media Key="668841e6-fb04-4668-8283-64026c0628c2" Alias="Jxl" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jxl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Jxl" />
    <SortOrder>230</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/03ajqzqe/jxl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>