<?xml version="1.0" encoding="utf-8"?>
<Media Key="725b645a-8312-4c50-a60d-a7bce8cd99ce" Alias="Keybase" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Keybase</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Keybase" />
    <SortOrder>232</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nnsfw2qs/keybase.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>