<?xml version="1.0" encoding="utf-8"?>
<Media Key="2569e99d-775c-443e-a014-61d7f6f9c468" Alias="Keycdn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Keycdn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Keycdn" />
    <SortOrder>233</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vtuhsjk2/keycdn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>