<?xml version="1.0" encoding="utf-8"?>
<Media Key="aabaf945-f6cd-49ff-bf31-4e9676179770" Alias="Kickstarter K" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KickstarterK</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Kickstarter K" />
    <SortOrder>235</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ot2lvkwn/kickstarter-k.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>