<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cacd1f7-73d9-43c1-8f15-676040d00ad3" Alias="Laravel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Laravel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Laravel" />
    <SortOrder>237</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/y1ilyxgz/laravel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>