<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3066ccb-42e4-494e-be69-ff683934b2ec" Alias="Lastfm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lastfm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Lastfm" />
    <SortOrder>238</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5jwany5e/lastfm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>