<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac5c6fd1-3a62-448f-9b34-8b1cfe47e46f" Alias="Leanpub" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Leanpub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Leanpub" />
    <SortOrder>239</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2bxfzldc/leanpub.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>