<?xml version="1.0" encoding="utf-8"?>
<Media Key="feec040b-1378-41c8-a92f-52c478b73663" Alias="Letterboxd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Letterboxd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Letterboxd" />
    <SortOrder>241</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hicoz5ty/letterboxd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>