<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b0effa8-13da-46b1-a50f-946e3865bf7b" Alias="Line" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Line</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Line" />
    <SortOrder>242</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/th5b2040/line.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>