<?xml version="1.0" encoding="utf-8"?>
<Media Key="12f874f1-076a-4b9c-9bc4-ee54ea5536b2" Alias="Linkedin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>243</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yb0pqetk/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>