<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec03449-3581-427d-9dc5-30b39b811888" Alias="Linkedin In" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LinkedinIn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Linkedin In" />
    <SortOrder>244</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pa0ma5ub/linkedin-in.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>