<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4afd528-afe0-49fd-812d-3b231a4a488a" Alias="Linux" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Linux</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Linux" />
    <SortOrder>246</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dhkl53ha/linux.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>