<?xml version="1.0" encoding="utf-8"?>
<Media Key="38dfed39-65f6-482e-82e6-83cef427df4d" Alias="Lyft" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lyft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Lyft" />
    <SortOrder>247</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bdwn4ohw/lyft.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>