<?xml version="1.0" encoding="utf-8"?>
<Media Key="56c30c56-5786-4542-b659-2b2841d171d9" Alias="Magento" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Magento</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Magento" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/m2gmgvug/magento.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>