<?xml version="1.0" encoding="utf-8"?>
<Media Key="34e406a4-7fc9-4792-afae-9bbf2908ad28" Alias="Mailchimp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mailchimp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Mailchimp" />
    <SortOrder>249</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sudoingj/mailchimp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>