<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ee31291-72c2-49b1-8a5a-6d4632990e6c" Alias="Mastodon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Mastodon" />
    <SortOrder>252</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uajohhwc/mastodon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>