<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d90156c-699e-4905-a244-d5c747e1b1eb" Alias="Maxcdn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Maxcdn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:31</CreateDate>
    <NodeName Default="Maxcdn" />
    <SortOrder>253</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lukjadm4/maxcdn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>