<?xml version="1.0" encoding="utf-8"?>
<Media Key="6525a4cf-9d4d-435b-bbeb-3428dbc475f8" Alias="Mdb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mdb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mdb" />
    <SortOrder>254</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/50sckzkn/mdb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>