<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bd839b2-62d3-4e4b-bb2d-cb9af9abae0c" Alias="Medapps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Medapps</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Medapps" />
    <SortOrder>255</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qm2nq04t/medapps.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>