<?xml version="1.0" encoding="utf-8"?>
<Media Key="7168ca68-8bd9-4788-9a01-760856e75b0d" Alias="Medium" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Medium</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Medium" />
    <SortOrder>256</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lhfgq2oz/medium.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>