<?xml version="1.0" encoding="utf-8"?>
<Media Key="991b3ae8-9a8b-42fd-a221-6271ad890740" Alias="Medrt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Medrt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Medrt" />
    <SortOrder>257</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1e3bxgml/medrt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>