<?xml version="1.0" encoding="utf-8"?>
<Media Key="08c18447-1756-4e16-905f-a6fc3d2bb73f" Alias="Meetup" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Meetup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Meetup" />
    <SortOrder>258</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/o0cmcccw/meetup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>