<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ca52d38-2966-4c50-add7-a98f22661963" Alias="Megaport" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Megaport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Megaport" />
    <SortOrder>259</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bewlkddg/megaport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>