<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfed1ea5-839a-4e34-b794-55bd2a46a138" Alias="Mendeley" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mendeley</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mendeley" />
    <SortOrder>260</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/sqpo1p20/mendeley.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>