<?xml version="1.0" encoding="utf-8"?>
<Media Key="0771cc61-cf95-42ac-80f5-0baad84ba376" Alias="Meta" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Meta</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Meta" />
    <SortOrder>261</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kdghcb2v/meta.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>