<?xml version="1.0" encoding="utf-8"?>
<Media Key="44970265-ae4a-4bc3-93dc-a617415226f9" Alias="Microsoft" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Microsoft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Microsoft" />
    <SortOrder>263</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kqbjorck/microsoft.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>