<?xml version="1.0" encoding="utf-8"?>
<Media Key="789bd8ad-c8bf-4d9c-9fc7-238915dec7f1" Alias="Microblog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Microblog</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Microblog" />
    <SortOrder>262</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ttmjw4f5/microblog.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>