<?xml version="1.0" encoding="utf-8"?>
<Media Key="85c5054c-3a41-4507-aceb-f58a19beb576" Alias="Mintbit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mintbit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mintbit" />
    <SortOrder>264</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pucnlbkb/mintbit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>