<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee40da19-e412-4a9b-a9ca-6de0a33f0923" Alias="Mix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mix" />
    <SortOrder>265</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fdneb1qs/mix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>