<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4e2d594-1941-442f-baa3-6194d1125fb6" Alias="Mixcloud" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mixcloud</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mixcloud" />
    <SortOrder>266</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uxkpfvcb/mixcloud.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>