<?xml version="1.0" encoding="utf-8"?>
<Media Key="18ce0100-fb87-4918-b3af-9223c10c33eb" Alias="Mixer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mixer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mixer" />
    <SortOrder>267</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gean2geh/mixer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>