<?xml version="1.0" encoding="utf-8"?>
<Media Key="30ca826f-1627-40f9-8f03-ff921e1b5e88" Alias="Mizuni" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mizuni</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Mizuni" />
    <SortOrder>268</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/l0bmumbh/mizuni.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>