<?xml version="1.0" encoding="utf-8"?>
<Media Key="a94a0d71-e51f-4d99-af52-004315179573" Alias="Modx" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Modx</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Modx" />
    <SortOrder>269</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/iagfvki5/modx.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>