<?xml version="1.0" encoding="utf-8"?>
<Media Key="e981dbed-8788-421b-919f-1b6cb0b4578d" Alias="Monero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Monero</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Monero" />
    <SortOrder>270</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1tnjd0mi/monero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>