<?xml version="1.0" encoding="utf-8"?>
<Media Key="74030ab9-24f2-4bb1-8dd0-d181960bbdb1" Alias="Napster" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Napster</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Napster" />
    <SortOrder>271</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rafag3hs/napster.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>