<?xml version="1.0" encoding="utf-8"?>
<Media Key="fab52432-4ba1-4238-ab5e-a9d1602bb8eb" Alias="Neos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Neos</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Neos" />
    <SortOrder>272</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/amsll4vb/neos.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>