<?xml version="1.0" encoding="utf-8"?>
<Media Key="24532db5-bf13-481d-bf6e-79e63ae2c4d1" Alias="Nfc Directional" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NfcDirectional</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Nfc Directional" />
    <SortOrder>273</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qqwfgjat/nfc-directional.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>