<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1a084b1-62bb-4678-b714-11e50f9a9b72" Alias="Nfc Symbol" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NfcSymbol</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Nfc Symbol" />
    <SortOrder>274</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qcckbun1/nfc-symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>