<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab2be54e-3c76-43a3-b6e2-5585c921048d" Alias="Nimblr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nimblr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Nimblr" />
    <SortOrder>275</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/p5sdxk1w/nimblr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>