<?xml version="1.0" encoding="utf-8"?>
<Media Key="06cc4a54-745b-4e76-baa4-b6790b72c69f" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>276</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mvfmybs1/node.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>