<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a732ea4-0573-4090-b2c9-add76fd6c3e9" Alias="Node Js" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NodeJs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Node Js" />
    <SortOrder>277</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/suxhgwtt/node-js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>