<?xml version="1.0" encoding="utf-8"?>
<Media Key="61a5d5f8-edf1-4f6e-a51b-3e3ffe54c4c9" Alias="Npm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Npm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Npm" />
    <SortOrder>278</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zhklkypr/npm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>