<?xml version="1.0" encoding="utf-8"?>
<Media Key="462477e4-0935-4046-9f75-c4efc04e97c6" Alias="Ns8" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ns8</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Ns8" />
    <SortOrder>279</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0v1dirrv/ns8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>