<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a2c52b7-63c6-4e73-8d1a-9bd84b8b4509" Alias="Nutritionix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nutritionix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Nutritionix" />
    <SortOrder>280</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qzjcyowg/nutritionix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>