<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e4478d4-9c23-4aed-a184-9393f7b208df" Alias="Octopus Deploy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OctopusDeploy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Octopus Deploy" />
    <SortOrder>281</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2v2eidrd/octopus-deploy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>