<?xml version="1.0" encoding="utf-8"?>
<Media Key="44e5da8d-5cc2-4b92-be80-5ff950f2ad05" Alias="Odnoklassniki" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Odnoklassniki</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Odnoklassniki" />
    <SortOrder>282</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xtnokrgc/odnoklassniki.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>