<?xml version="1.0" encoding="utf-8"?>
<Media Key="15a5d0de-a70b-479c-bb8b-21406730e9a1" Alias="Odysee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Odysee</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Odysee" />
    <SortOrder>283</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/35ikkfil/odysee.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>