<?xml version="1.0" encoding="utf-8"?>
<Media Key="3103c93e-cb1f-48fd-8065-5d6c70c86646" Alias="Openid" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Openid</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Openid" />
    <SortOrder>286</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/b5ebgmi5/openid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>