<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd958ec6-a7e5-4afc-963f-1177330427d2" Alias="Opensuse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Opensuse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Opensuse" />
    <SortOrder>287</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/44hjlppf/opensuse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>