<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc2c0760-3837-4c36-8b64-79a7c7c0357b" Alias="Opencart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Opencart</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Opencart" />
    <SortOrder>285</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/keddzpbx/opencart.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>