<?xml version="1.0" encoding="utf-8"?>
<Media Key="78bec9d0-daae-4f0f-8e4c-486d696c23fc" Alias="Opera" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Opera</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Opera" />
    <SortOrder>288</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2hel24fo/opera.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>