<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec5d4d70-774f-464a-abd5-99cc87c90a01" Alias="Optin Monster" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OptinMonster</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Optin Monster" />
    <SortOrder>289</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ifgf11cp/optin-monster.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>