<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffacc073-87e9-402b-9b07-06e6b6492350" Alias="Orcid" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Orcid</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Orcid" />
    <SortOrder>290</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ilakz55j/orcid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>