<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6d0fcdb-90a0-469b-b597-a57f485e49c2" Alias="Osi" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Osi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:32</CreateDate>
    <NodeName Default="Osi" />
    <SortOrder>291</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3l4nbnva/osi.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>