<?xml version="1.0" encoding="utf-8"?>
<Media Key="c514c45e-9a12-42c5-b79c-8ef526c011e5" Alias="Padlet" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Padlet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Padlet" />
    <SortOrder>292</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/n5cbjris/padlet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>