<?xml version="1.0" encoding="utf-8"?>
<Media Key="09376917-1432-4dc9-9935-20bf9c1f2258" Alias="Page4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Page4" />
    <SortOrder>293</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ezudocjs/page4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>