<?xml version="1.0" encoding="utf-8"?>
<Media Key="c17f5d59-1c20-42b0-aea0-fe6c26965efc" Alias="Pagelines" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pagelines</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pagelines" />
    <SortOrder>294</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nboh5qja/pagelines.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>