<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b190023-db81-48b9-9e3e-d19c1a7c1823" Alias="Palfed" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Palfed</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Palfed" />
    <SortOrder>295</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ciabso2b/palfed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>