<?xml version="1.0" encoding="utf-8"?>
<Media Key="12f77607-b366-4c2c-b7ec-a0b485e9f78e" Alias="Patreon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Patreon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Patreon" />
    <SortOrder>296</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gz1poetg/patreon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>