<?xml version="1.0" encoding="utf-8"?>
<Media Key="2178899a-23bf-428f-ad18-697142dc2816" Alias="Paypal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Paypal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Paypal" />
    <SortOrder>297</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/voehqin5/paypal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>