<?xml version="1.0" encoding="utf-8"?>
<Media Key="95d87b3c-cdd1-463d-8ef5-d9df87c86270" Alias="Perbyte" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Perbyte</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Perbyte" />
    <SortOrder>298</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bv3nrfor/perbyte.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>