<?xml version="1.0" encoding="utf-8"?>
<Media Key="af5130dd-efdf-4269-9dc9-7b0ce5e4a80f" Alias="Periscope" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Periscope</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Periscope" />
    <SortOrder>299</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3qyfdl45/periscope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>