<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bdfcb43-39a2-40e5-9e69-9dcd4a3c5c9d" Alias="Phabricator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Phabricator</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Phabricator" />
    <SortOrder>300</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/olfn4k3c/phabricator.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>