<?xml version="1.0" encoding="utf-8"?>
<Media Key="be0c1e35-1160-44e6-bb7d-943677b14f97" Alias="Phoenix Framework" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PhoenixFramework</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Phoenix Framework" />
    <SortOrder>301</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/aqpazpta/phoenix-framework.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>