<?xml version="1.0" encoding="utf-8"?>
<Media Key="44479c87-b975-46fb-bfa3-bacddac7cd57" Alias="Phoenix Squadron" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PhoenixSquadron</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Phoenix Squadron" />
    <SortOrder>302</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w0oeordv/phoenix-squadron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>