<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b3bfdda-9c42-41f2-a24c-c93cfd9fd70e" Alias="Php" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Php</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Php" />
    <SortOrder>303</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3p4dxg0c/php.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>