<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aa5ebfa-05f6-4438-a1f1-31d9cf704076" Alias="Pied Piper Hat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PiedPiperHat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pied Piper Hat" />
    <SortOrder>306</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zpvllcxw/pied-piper-hat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>