<?xml version="1.0" encoding="utf-8"?>
<Media Key="f564f55c-b6c3-4877-beab-b8b3e71c466c" Alias="Pied Piper Pp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PiedPiperPp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pied Piper Pp" />
    <SortOrder>307</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nx0hj3od/pied-piper-pp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>