<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1e56df0-2a64-433b-b29a-1d23065f3724" Alias="Pied Piper Alt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PiedPiperAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pied Piper Alt" />
    <SortOrder>305</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yfwplyle/pied-piper-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>