<?xml version="1.0" encoding="utf-8"?>
<Media Key="7eea3625-67ec-43e3-9d18-4243422be714" Alias="Pinterest" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pinterest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pinterest" />
    <SortOrder>308</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cq1ou5xm/pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>