<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d0facdd-2ded-4ee7-9c25-903eed29eeb9" Alias="Pinterest P" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PinterestP</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pinterest P" />
    <SortOrder>309</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3swa4xpn/pinterest-p.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>