<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7184665-7555-4c13-b415-0afb81dc2307" Alias="Pix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pix" />
    <SortOrder>310</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/krdbr30v/pix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>