<?xml version="1.0" encoding="utf-8"?>
<Media Key="9784f3ea-9afa-4676-9528-c8fdfb4e2087" Alias="Pixiv" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pixiv</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pixiv" />
    <SortOrder>311</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1pzjjf50/pixiv.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>