<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c301bfe-e9fe-4a4d-abc7-028663d37fed" Alias="Playstation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Playstation</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Playstation" />
    <SortOrder>312</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/z2ndadh4/playstation.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>