<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f61a18b-900b-45b6-9f6a-e9998154616d" Alias="Product Hunt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductHunt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Product Hunt" />
    <SortOrder>313</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xkqhclyl/product-hunt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>