<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8e5d8e7-bbaf-41a6-9fdf-f55961238151" Alias="Pushed" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pushed</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Pushed" />
    <SortOrder>314</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/01molwfp/pushed.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>