<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc5e9620-5371-4cff-a1f5-2c857f30d89a" Alias="Python" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Python</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Python" />
    <SortOrder>315</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cglf35dr/python.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>