<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e5e13f9-591b-4f16-bb95-b043586c3bc2" Alias="Qq" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Qq</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Qq" />
    <SortOrder>316</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zajf25q1/qq.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>