<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c4963bd-8215-486f-b4fe-52569f0eaba1" Alias="Quinscape" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Quinscape</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Quinscape" />
    <SortOrder>317</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rrrfsdav/quinscape.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>