<?xml version="1.0" encoding="utf-8"?>
<Media Key="b461fedd-a904-49b2-8de9-05697ef0d326" Alias="Quora" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Quora</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Quora" />
    <SortOrder>318</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3t5gdnae/quora.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>