<?xml version="1.0" encoding="utf-8"?>
<Media Key="3027cf4b-0234-43cf-a504-4dd6f052be79" Alias="R Project" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RProject</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="R Project" />
    <SortOrder>336</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/plhdombu/r-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>