<?xml version="1.0" encoding="utf-8"?>
<Media Key="869a2886-3386-4d6a-aaa6-950cbfb81c95" Alias="Raspberry Pi" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RaspberryPi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Raspberry Pi" />
    <SortOrder>319</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w2ujvbug/raspberry-pi.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>