<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e2bd254-1ab3-4a7a-b632-e20f5f1d25ed" Alias="Ravelry" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ravelry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Ravelry" />
    <SortOrder>320</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mxjcwtvt/ravelry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>