<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8db1df7-3999-487d-a41d-1401358c79df" Alias="React" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/React</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="React" />
    <SortOrder>321</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yyonxsez/react.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>