<?xml version="1.0" encoding="utf-8"?>
<Media Key="21ffa1d4-587f-4c2c-be9a-bf86387de337" Alias="Reacteurope" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Reacteurope</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Reacteurope" />
    <SortOrder>322</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2wqp4il5/reacteurope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>