<?xml version="1.0" encoding="utf-8"?>
<Media Key="9cef273b-777a-434f-8dba-29f285462bd0" Alias="Readme" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Readme</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Readme" />
    <SortOrder>323</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bitp5hd0/readme.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>