<?xml version="1.0" encoding="utf-8"?>
<Media Key="edd6de28-fa22-403f-975b-1b0368c2453a" Alias="Rebel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rebel</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Rebel" />
    <SortOrder>324</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dhpnn1jc/rebel.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>