<?xml version="1.0" encoding="utf-8"?>
<Media Key="debda50a-8744-4f0c-9a28-1af418fda03a" Alias="Red River" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RedRiver</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Red River" />
    <SortOrder>328</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hosl1xse/red-river.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>