<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0d20c0c-b79b-40ab-8197-44a56bdaef24" Alias="Reddit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Reddit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Reddit" />
    <SortOrder>325</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hugnfie1/reddit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>