<?xml version="1.0" encoding="utf-8"?>
<Media Key="8571830d-8b2f-4964-8d9d-540ff786f446" Alias="Reddit Alien" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RedditAlien</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Reddit Alien" />
    <SortOrder>326</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hsbhdbjp/reddit-alien.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>