<?xml version="1.0" encoding="utf-8"?>
<Media Key="64b3549c-a3d4-4da0-9f68-c99b8101cddc" Alias="Redhat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Redhat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:33</CreateDate>
    <NodeName Default="Redhat" />
    <SortOrder>327</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vvklgzgu/redhat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>