<?xml version="1.0" encoding="utf-8"?>
<Media Key="53ed9afd-4994-4868-a6c1-12bc6d199988" Alias="Resolving" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Resolving</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Resolving" />
    <SortOrder>332</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zsno0u2u/resolving.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>