<?xml version="1.0" encoding="utf-8"?>
<Media Key="89f31508-28f8-4915-b838-0458dd6166bc" Alias="Rev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rev</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Rev" />
    <SortOrder>333</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hekphcpy/rev.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>