<?xml version="1.0" encoding="utf-8"?>
<Media Key="32dd59d2-1bb3-414d-bdac-471417776432" Alias="Rikke Hembre 9Dew8y8l4fe Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RikkeHembre9Dew8y8l4feUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T00:40:12</CreateDate>
    <NodeName Default="Rikke Hembre 9Dew8y8l4fe Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0rmn0mvt/rikke-hembre-9dew8y8l4fe-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>