<?xml version="1.0" encoding="utf-8"?>
<Media Key="627fa82b-1350-47cc-8229-fb2816889f2c" Alias="Rocketchat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rocketchat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Rocketchat" />
    <SortOrder>334</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dkuh4ysq/rocketchat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>