<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ef1bd30-d06e-4ca9-b608-eba04a125803" Alias="Rockrms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rockrms</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Rockrms" />
    <SortOrder>335</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ag4pdhto/rockrms.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>