<?xml version="1.0" encoding="utf-8"?>
<Media Key="2919eb65-0829-4bfb-96f4-ee921eef3071" Alias="Rust" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rust</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Rust" />
    <SortOrder>337</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ktvbskjj/rust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>