<?xml version="1.0" encoding="utf-8"?>
<Media Key="de51b406-e4aa-450e-9915-1716a994c4c3" Alias="Safari" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Safari</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Safari" />
    <SortOrder>338</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/g40fdxvk/safari.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>