<?xml version="1.0" encoding="utf-8"?>
<Media Key="4284e3c7-d79f-4d07-b8f3-40dfef527fd1" Alias="Salesforce" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Salesforce</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Salesforce" />
    <SortOrder>339</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/41rjiqu5/salesforce.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>