<?xml version="1.0" encoding="utf-8"?>
<Media Key="22022eb2-d8fd-436f-9aa5-00418c8c5b95" Alias="Sass" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sass</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sass" />
    <SortOrder>340</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qmxaeix3/sass.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>