<?xml version="1.0" encoding="utf-8"?>
<Media Key="26cb30bc-dca7-45b4-a1ca-cff92b0a681e" Alias="Schlix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schlix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Schlix" />
    <SortOrder>341</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ruymwjvh/schlix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>