<?xml version="1.0" encoding="utf-8"?>
<Media Key="fca2db52-f085-4487-9e69-2b01d4a81663" Alias="Screenpal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenpal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Screenpal" />
    <SortOrder>342</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mpnlf5ef/screenpal.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>