<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2e65ab2-c700-4211-89ea-c3a269ad64f1" Alias="Scribd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Scribd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Scribd" />
    <SortOrder>343</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qnnoniqa/scribd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>