<?xml version="1.0" encoding="utf-8"?>
<Media Key="7288d9b8-9f32-4e91-92e7-47c9eddad9f1" Alias="Searchengin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Searchengin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Searchengin" />
    <SortOrder>344</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rhmjq2rs/searchengin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>