<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5cc24df-38bc-4a51-a03e-e594da603628" Alias="Sellsy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sellsy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sellsy" />
    <SortOrder>346</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3ysmzzn2/sellsy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>