<?xml version="1.0" encoding="utf-8"?>
<Media Key="3996f017-c0b8-42ec-9849-9542a86363ff" Alias="Sellcast" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sellcast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sellcast" />
    <SortOrder>345</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/e1yjmony/sellcast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>