<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9e61a5d-4683-4434-9130-60eea97f3079" Alias="Sergey Pesterev Xaidrbzfewu Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SergeyPesterevXaidrbzfewuUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-07T23:27:31</CreateDate>
    <NodeName Default="Sergey Pesterev Xaidrbzfewu Unsplash" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[This is an alt text]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmnonsmd/sergey-pesterev-xaidrbzfewu-unsplash.jpg",
  "focalPoint": {
    "left": 0.03907817160199305,
    "top": 0.7964897283911515
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>