<?xml version="1.0" encoding="utf-8"?>
<Media Key="72724317-6042-41f0-a223-b8a882daf63e" Alias="Servicestack" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Servicestack</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Servicestack" />
    <SortOrder>347</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ezbhe2sc/servicestack.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>