<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d670eaf-25f5-43ba-a04c-cf26bf536535" Alias="Shirtsinbulk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shirtsinbulk</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Shirtsinbulk" />
    <SortOrder>348</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tyhgoppv/shirtsinbulk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>