<?xml version="1.0" encoding="utf-8"?>
<Media Key="50e53a6c-a484-478c-925d-31c2e5c34e74" Alias="Shoelace" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shoelace</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Shoelace" />
    <SortOrder>349</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lu3okuee/shoelace.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>