<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e9161ab-9656-45b0-8363-fcbabcd07a4c" Alias="Shopware" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shopware</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Shopware" />
    <SortOrder>351</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tjqjddsw/shopware.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>