<?xml version="1.0" encoding="utf-8"?>
<Media Key="00ab746d-8c5e-4edb-9220-dfdad842d113" Alias="Shopify" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shopify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Shopify" />
    <SortOrder>350</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lr0kwac4/shopify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>