<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b6cd84f-3d7d-4bc1-933a-06462c914b09" Alias="Signal Messenger" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SignalMessenger</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Signal Messenger" />
    <SortOrder>352</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/p1mgyc13/signal-messenger.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>