<?xml version="1.0" encoding="utf-8"?>
<Media Key="c12c6520-0af2-4de0-8221-2e8120c5d0ce" Alias="Simplybuilt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Simplybuilt</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Simplybuilt" />
    <SortOrder>353</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cfsdzqps/simplybuilt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>