<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff88ed38-2582-47a7-97e9-a6fd2c125f1f" Alias="Sistrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sistrix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sistrix" />
    <SortOrder>354</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bhwjr52c/sistrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>