<?xml version="1.0" encoding="utf-8"?>
<Media Key="94d163eb-5e80-4854-9dd5-4dba2c44e371" Alias="Sith" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sith</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sith" />
    <SortOrder>355</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1jrndfea/sith.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>