<?xml version="1.0" encoding="utf-8"?>
<Media Key="21578f4a-90ad-4789-bea7-34c1148a13a3" Alias="Sitrox" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sitrox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sitrox" />
    <SortOrder>356</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pohfoinn/sitrox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>