<?xml version="1.0" encoding="utf-8"?>
<Media Key="dea6d612-d6d4-446b-9539-7953a27daf90" Alias="Sketch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sketch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sketch" />
    <SortOrder>357</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/eplknxwu/sketch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>