<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a8b42b0-5c11-4ec8-9bec-5808d62abe3a" Alias="Skyatlas" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skyatlas</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Skyatlas" />
    <SortOrder>358</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qfbixcqr/skyatlas.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>