<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f0f698a-0699-45be-ad1a-b7926fb2bc69" Alias="Skype" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skype</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Skype" />
    <SortOrder>359</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xnub5d2z/skype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>