<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cafe896-c0c5-4d67-82d3-b83e661e4fb6" Alias="Slack" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slack</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Slack" />
    <SortOrder>360</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/u5uk4lgf/slack.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>