<?xml version="1.0" encoding="utf-8"?>
<Media Key="d53e8815-2ed9-4da4-a184-196eed3161a4" Alias="Slideshare" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slideshare</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Slideshare" />
    <SortOrder>361</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/esed3voz/slideshare.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>