<?xml version="1.0" encoding="utf-8"?>
<Media Key="b21646ad-358c-4858-b5f6-9d208edc8e00" Alias="Snapchat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Snapchat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Snapchat" />
    <SortOrder>362</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/trdbnmum/snapchat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>