<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e4c2ddd-97fb-48c1-b29a-22064f085439" Alias="Soundcloud" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Soundcloud</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Soundcloud" />
    <SortOrder>363</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3qwfyxx1/soundcloud.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>