<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a563988-e61b-48a8-9eea-42fb393372ce" Alias="Sourcetree" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sourcetree</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Sourcetree" />
    <SortOrder>364</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xe2fmsq1/sourcetree.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>