<?xml version="1.0" encoding="utf-8"?>
<Media Key="55e09523-7cae-431f-9d66-162558d9ebac" Alias="Space Awesome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SpaceAwesome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:34</CreateDate>
    <NodeName Default="Space Awesome" />
    <SortOrder>365</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ckkpavno/space-awesome.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>