<?xml version="1.0" encoding="utf-8"?>
<Media Key="df31a031-7e45-4932-9475-6cfc30b726a0" Alias="Speakap" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Speakap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Speakap" />
    <SortOrder>366</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/acqddx0f/speakap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>