<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d3f2e56-0dfd-42ba-b690-32ad68e9e62a" Alias="Spotify" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Spotify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Spotify" />
    <SortOrder>368</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/m2xd4tp3/spotify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>