<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3b38f47-5076-444b-a22b-d5ce6db443a0" Alias="Square Upwork" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareUpwork</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Upwork" />
    <SortOrder>393</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/o0hlhq1w/square-upwork.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>