<?xml version="1.0" encoding="utf-8"?>
<Media Key="76726035-13aa-4bb0-bb13-c596642614b0" Alias="Square Tumblr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareTumblr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Tumblr" />
    <SortOrder>391</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/arqhe3vk/square-tumblr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>