<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2f46de0-1804-4fa9-979c-6d0d9d9ff170" Alias="Square Google Plus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareGooglePlus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Google Plus" />
    <SortOrder>377</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0fwpjyqe/square-google-plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>