<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e70cf83-01f7-4d65-8ed0-389452c913d5" Alias="Square Xing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareXing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Xing" />
    <SortOrder>399</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wlhhbhxx/square-xing.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>