<?xml version="1.0" encoding="utf-8"?>
<Media Key="f06147f7-23c0-48f1-a8f6-2c7a9841ec75" Alias="Square Js" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareJs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Js" />
    <SortOrder>380</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yzdhd2ga/square-js.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>