<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1dadd63-f373-49ee-b63d-faa47ffe39ec" Alias="Square Behance" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareBehance</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Behance" />
    <SortOrder>369</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/klonvmlt/square-behance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>