<?xml version="1.0" encoding="utf-8"?>
<Media Key="49babd48-f511-4160-98d3-31e7b88b6e4b" Alias="Square Steam" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareSteam</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Steam" />
    <SortOrder>389</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pg4lusir/square-steam.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>