<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0e62848-525e-49f7-9b4f-5f3be33453f1" Alias="Square Youtube" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareYoutube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Youtube" />
    <SortOrder>401</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/peuon2c4/square-youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>