<?xml version="1.0" encoding="utf-8"?>
<Media Key="58a7fc65-ca99-43e6-9e78-3f149eae5622" Alias="Square Facebook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Facebook" />
    <SortOrder>371</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kt4kowez/square-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>