<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e5dd0a0-136a-4a3b-9900-4dcec34c2ae3" Alias="Square Gitlab" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareGitlab</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Gitlab" />
    <SortOrder>376</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/shif01tk/square-gitlab.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>