<?xml version="1.0" encoding="utf-8"?>
<Media Key="0efa61bb-9aea-428e-b467-2af7a4392265" Alias="Square X Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareXTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square X Twitter" />
    <SortOrder>400</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rjqpudxk/square-x-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>