<?xml version="1.0" encoding="utf-8"?>
<Media Key="64c6a1d2-65c2-4a13-b68c-12c6008a4f54" Alias="Square Lastfm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareLastfm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Lastfm" />
    <SortOrder>381</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2oqnmzgc/square-lastfm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>