<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed40f91b-3b4a-4526-84a5-95ea03dcb7b3" Alias="Square Dribbble" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareDribbble</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Dribbble" />
    <SortOrder>370</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fl2fb1kk/square-dribbble.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>