<?xml version="1.0" encoding="utf-8"?>
<Media Key="89d4a2ce-0a5a-4d26-a0cb-d372d8551298" Alias="Square Web Awesome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareWebAwesome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Web Awesome" />
    <SortOrder>396</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/54rnjck0/square-web-awesome.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>