<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f207dad-8adc-40b3-b16f-786c16bb9a5c" Alias="Square Whatsapp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareWhatsapp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Whatsapp" />
    <SortOrder>398</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tr4dal42/square-whatsapp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>