<?xml version="1.0" encoding="utf-8"?>
<Media Key="efade6e3-8b26-4862-a8cd-b914b67c8d3d" Alias="Square Vimeo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareVimeo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Vimeo" />
    <SortOrder>395</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0ltk11zg/square-vimeo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>