<?xml version="1.0" encoding="utf-8"?>
<Media Key="6389e6fc-fd55-4609-a51f-c3f9c69ea07f" Alias="Square Letterboxd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareLetterboxd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Letterboxd" />
    <SortOrder>382</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zxtisy0v/square-letterboxd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>