<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eb7dee5-18b1-427b-b8c1-380227a5d263" Alias="Square Font Awesome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareFontAwesome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Font Awesome" />
    <SortOrder>372</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0tplotvr/square-font-awesome.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>