<?xml version="1.0" encoding="utf-8"?>
<Media Key="17a9513b-ebbe-4415-977d-29f012d7ae49" Alias="Square Instagram" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareInstagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Instagram" />
    <SortOrder>379</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bjilsf34/square-instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>