<?xml version="1.0" encoding="utf-8"?>
<Media Key="7207afbe-59cd-4ab1-8e77-4568debb859b" Alias="Square Pied Piper" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquarePiedPiper</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Pied Piper" />
    <SortOrder>384</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r4xbo2wn/square-pied-piper.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>