<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac46c4f9-98fa-46c6-a215-596ba846b12a" Alias="Squarespace" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Squarespace</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Squarespace" />
    <SortOrder>388</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zdcenlh0/squarespace.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>