<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f7d7cf1-9574-4241-a5d2-2dbaad649951" Alias="Square Pinterest" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquarePinterest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Pinterest" />
    <SortOrder>385</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yb4h0d1u/square-pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>