<?xml version="1.0" encoding="utf-8"?>
<Media Key="30993f47-5b53-4d1e-b7f0-9f60f5960e6a" Alias="Square Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Twitter" />
    <SortOrder>392</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/oy5jsmct/square-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>