<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fc56c51-e61a-46fe-a242-cc05fd425826" Alias="Square Font Awesome Stroke" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareFontAwesomeStroke</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Font Awesome Stroke" />
    <SortOrder>373</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mbwmk5y0/square-font-awesome-stroke.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>