<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffa06551-b7c7-46a4-94be-f6743da760e0" Alias="Square Web Awesome Stroke" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareWebAwesomeStroke</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Web Awesome Stroke" />
    <SortOrder>397</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mbslb54h/square-web-awesome-stroke.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>