<?xml version="1.0" encoding="utf-8"?>
<Media Key="589bbf3f-da32-41f9-b825-9059582fc6ea" Alias="Square Reddit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareReddit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Reddit" />
    <SortOrder>386</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/b05jwwbs/square-reddit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>