<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cf29be4-de3e-4b19-9c6e-ef8f0272377c" Alias="Square Odnoklassniki" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareOdnoklassniki</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Odnoklassniki" />
    <SortOrder>383</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0wnpe1b4/square-odnoklassniki.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>