<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d03b5c2-fba4-48f0-b40f-367f9fc90f12" Alias="Square Snapchat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareSnapchat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Square Snapchat" />
    <SortOrder>387</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4o0bgpne/square-snapchat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>