<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b1580cf-3e7b-46b1-90d0-f9b212bbc7f0" Alias="Square Github" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SquareGithub</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:35</CreateDate>
    <NodeName Default="Square Github" />
    <SortOrder>375</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/50abko11/square-github.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>