<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5a15f22-31eb-4f56-9f57-43af4a5abe1f" Alias="Stack Exchange" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StackExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stack Exchange" />
    <SortOrder>402</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cnpldzpl/stack-exchange.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>