<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fab3a6f-8ebd-4fc2-9341-a2be012a9ddb" Alias="Stack Overflow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StackOverflow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stack Overflow" />
    <SortOrder>403</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ly3kw533/stack-overflow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>