<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e03a090-18a8-44a0-9943-c0f526de4e28" Alias="Stackpath" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stackpath</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stackpath" />
    <SortOrder>404</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ugqagxvi/stackpath.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>