<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e05789c-8115-4570-b09c-46e94e9c78eb" Alias="Staylinked" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Staylinked</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Staylinked" />
    <SortOrder>405</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vv2akhqv/staylinked.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>