<?xml version="1.0" encoding="utf-8"?>
<Media Key="5528925a-a435-4c53-94dd-096cc8466d2e" Alias="Steam Symbol" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SteamSymbol</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Steam Symbol" />
    <SortOrder>407</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nojcqvjv/steam-symbol.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>