<?xml version="1.0" encoding="utf-8"?>
<Media Key="300442ac-abfb-47ba-a7e7-b4a64e5d7ae4" Alias="Steam" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Steam</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Steam" />
    <SortOrder>406</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tvbaimh1/steam.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>