<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2211711-cd09-4d2e-9401-c9b5f73696ec" Alias="Sticker Mule" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StickerMule</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Sticker Mule" />
    <SortOrder>408</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ealdduqj/sticker-mule.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>