<?xml version="1.0" encoding="utf-8"?>
<Media Key="dda67064-eacb-4e08-b0e8-2773dc811152" Alias="Strava" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Strava</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Strava" />
    <SortOrder>409</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kvyknxol/strava.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>