<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e47d841-886e-4e80-a321-ce38cb3450e3" Alias="Stripe S" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StripeS</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stripe S" />
    <SortOrder>411</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/odmeopto/stripe-s.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>