<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b5d96ff-7673-4bc7-bfd6-fe1241c7ed1b" Alias="Stripe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stripe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stripe" />
    <SortOrder>410</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/z0lf0s1t/stripe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>