<?xml version="1.0" encoding="utf-8"?>
<Media Key="83871e9d-1a0b-400a-aafc-5348d1b625b3" Alias="Stubber" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stubber</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stubber" />
    <SortOrder>412</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vqpipayl/stubber.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>