<?xml version="1.0" encoding="utf-8"?>
<Media Key="14191bf7-2658-4cbf-ad5b-65733c1c70d1" Alias="Studiovinari" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Studiovinari</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Studiovinari" />
    <SortOrder>413</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yynbsfcy/studiovinari.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>