<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4f8d69-3f35-433d-871f-5b0d42ca8074" Alias="Stumbleupon Circle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StumbleuponCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Stumbleupon Circle" />
    <SortOrder>415</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lcgf4gzv/stumbleupon-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>