<?xml version="1.0" encoding="utf-8"?>
<Media Key="35507479-464a-4ff6-9fa3-40d9a07ac9d7" Alias="Superpowers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Superpowers</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Superpowers" />
    <SortOrder>416</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jb0fankk/superpowers.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>