<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d02fd73-820d-4abe-b159-da164e71c9fc" Alias="Supple" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Supple</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Supple" />
    <SortOrder>417</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/il4be5in/supple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>