<?xml version="1.0" encoding="utf-8"?>
<Media Key="95a9d162-76ec-4ffb-b02b-e57d19db0069" Alias="Suse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Suse</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Suse" />
    <SortOrder>418</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kpiltfpm/suse.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>