<?xml version="1.0" encoding="utf-8"?>
<Media Key="90a6f6d2-8f58-4e61-a2c7-10bb90bf827a" Alias="Swift" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Swift</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Swift" />
    <SortOrder>419</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2p1knecy/swift.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>