<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0fceb06-d9ad-4d1a-85d7-f621793eb1fd" Alias="Symfony" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Symfony</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:36</CreateDate>
    <NodeName Default="Symfony" />
    <SortOrder>420</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/g5vpzqfn/symfony.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>