<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb630dba-778f-473b-b5e3-bed740123e7d" Alias="Teamspeak" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teamspeak</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Teamspeak" />
    <SortOrder>421</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rmghh02p/teamspeak.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>