<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0dd3058-1300-4b3d-bc6e-a0eea0676069" Alias="Telegram" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Telegram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Telegram" />
    <SortOrder>422</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/neyn1yaa/telegram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>