<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d848b85-7fc3-4253-9b2f-4bd36f432629" Alias="Tencent Weibo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TencentWeibo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Tencent Weibo" />
    <SortOrder>423</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wsfjihod/tencent-weibo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>