<?xml version="1.0" encoding="utf-8"?>
<Media Key="61e82e3b-0df0-46ff-9e4f-94d1fa870388" Alias="The Red Yeti" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheRedYeti</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="The Red Yeti" />
    <SortOrder>426</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bixoqypq/the-red-yeti.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>