<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2d70f32-e72e-46ac-be96-c807f70bc2a0" Alias="Themeisle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Themeisle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Themeisle" />
    <SortOrder>425</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/amhnpyro/themeisle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>