<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec73870a-08d4-453c-a973-e19df02c39a2" Alias="Themeco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Themeco</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Themeco" />
    <SortOrder>424</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hodhh1gu/themeco.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>