<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b160164-09f3-431b-ba59-7144a17ecb86" Alias="Think Peaks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThinkPeaks</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Think Peaks" />
    <SortOrder>427</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kuabm05t/think-peaks.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>