<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac73381f-e2df-4fb3-b2e8-858c520bbdf7" Alias="Threads" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Threads</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Threads" />
    <SortOrder>428</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fy2hhlg5/threads.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>