<?xml version="1.0" encoding="utf-8"?>
<Media Key="47892dd6-f07a-4e50-9f1c-d90f877ee3e7" Alias="Tiktok" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tiktok</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Tiktok" />
    <SortOrder>429</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/22wjsr10/tiktok.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>