<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed7c3b38-70a9-404e-912b-a999d26696a3" Alias="Trade Federation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TradeFederation</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Trade Federation" />
    <SortOrder>430</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/be3hz1nj/trade-federation.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>