<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e7d6968-25a7-4fcf-b7fa-a056e18b05c3" Alias="Trello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Trello</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Trello" />
    <SortOrder>431</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lfuh0lvh/trello.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>