<?xml version="1.0" encoding="utf-8"?>
<Media Key="41f2079a-413d-46ba-bb26-dce93ea4dcaf" Alias="Tumblr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tumblr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Tumblr" />
    <SortOrder>432</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vmdpeqj3/tumblr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>