<?xml version="1.0" encoding="utf-8"?>
<Media Key="705f5d6d-bb89-4be5-a96d-1a82a4e1ca32" Alias="Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>434</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/lrof42ej/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>