<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad8c30d7-5a7e-4c11-bdf3-d29ad9e28584" Alias="Twitch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Twitch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Twitch" />
    <SortOrder>433</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2yyizll4/twitch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>