<?xml version="1.0" encoding="utf-8"?>
<Media Key="bae168cf-be8b-4670-9260-bf0c5a60a16b" Alias="Uber" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Uber</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Uber" />
    <SortOrder>436</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5zuodoul/uber.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>