<?xml version="1.0" encoding="utf-8"?>
<Media Key="61834697-c4c6-4023-8d1f-b131f97e0a67" Alias="Ubuntu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ubuntu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Ubuntu" />
    <SortOrder>437</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uzdigyog/ubuntu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>