<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fdc8970-5ffb-4b44-bd96-1e4734a0c4d4" Alias="Uikit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Uikit</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Uikit" />
    <SortOrder>438</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/igeny551/uikit.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>