<?xml version="1.0" encoding="utf-8"?>
<Media Key="5656d160-aaea-4084-a7bd-473e33c5e62e" Alias="Uncharted" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Uncharted</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Uncharted" />
    <SortOrder>440</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/khifmvxk/uncharted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>