<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcdcf37f-e0b6-4777-a39d-13bf49c8a884" Alias="Uniregistry" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Uniregistry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Uniregistry" />
    <SortOrder>441</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/j1znzpfw/uniregistry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>