<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f488caa-abe6-4bde-b12c-3741d59978d0" Alias="Unity" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Unity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Unity" />
    <SortOrder>442</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/togeqp5g/unity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>