<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe41cc95-b839-4a45-85bc-b0724e198e92" Alias="Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Unsplash" />
    <SortOrder>443</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/utged5rz/unsplash.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>