<?xml version="1.0" encoding="utf-8"?>
<Media Key="1abcce22-c5f3-49d0-987b-a2bc19174938" Alias="Untappd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Untappd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Untappd" />
    <SortOrder>444</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/cphlygxt/untappd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>