<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1e27f51-4c10-44f8-8cdb-c79a8add30c5" Alias="Ups" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ups</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Ups" />
    <SortOrder>445</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mb5pfmiq/ups.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>