<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d88288-0b5c-4ecb-ab79-f5fb387dc6f8" Alias="Upwork" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Upwork</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Upwork" />
    <SortOrder>446</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xgbnqvc2/upwork.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>