<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ff904b-1f27-4e53-a477-dc0232ea8591" Alias="Usps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Usps</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Usps" />
    <SortOrder>448</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pkip5wbh/usps.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>