<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c05ebdf-3112-4f19-ac33-b4e55784590f" Alias="Ussunnah" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ussunnah</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Ussunnah" />
    <SortOrder>449</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/31vbktas/ussunnah.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>