<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e0204bd-bafe-4895-8e26-6e5981c8ca98" Alias="Vaadin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vaadin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Vaadin" />
    <SortOrder>450</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rqcae5x4/vaadin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>