<?xml version="1.0" encoding="utf-8"?>
<Media Key="084e2176-002a-41bd-ae93-0db42162af6b" Alias="Viacoin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Viacoin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Viacoin" />
    <SortOrder>451</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/i2qf2cbk/viacoin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>