<?xml version="1.0" encoding="utf-8"?>
<Media Key="8059370f-9383-4049-85b5-a8edaea04ce5" Alias="Viadeo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Viadeo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Viadeo" />
    <SortOrder>452</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hy1ftaed/viadeo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>