<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4f62ff0-381b-47d0-b533-5077a70f51d8" Alias="Viber" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Viber</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Viber" />
    <SortOrder>453</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yexpnva1/viber.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>