<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1d78f94-89ce-4d1d-8c0e-7a9d37791ace" Alias="Vimeo V" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VimeoV</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Vimeo V" />
    <SortOrder>455</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uwhnpqoo/vimeo-v.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>