<?xml version="1.0" encoding="utf-8"?>
<Media Key="70fe81af-a324-4bb3-a064-b71dba40e1ed" Alias="Vimeo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vimeo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Vimeo" />
    <SortOrder>454</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/t0ap22be/vimeo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>