<?xml version="1.0" encoding="utf-8"?>
<Media Key="a71b9f16-c46b-4e39-b208-c24aa40baffe" Alias="Vine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vine</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Vine" />
    <SortOrder>456</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/e4pbxj1l/vine.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>