<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff8944b0-1cc0-4442-9a59-7e6076d1c369" Alias="Vk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vk</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:37</CreateDate>
    <NodeName Default="Vk" />
    <SortOrder>457</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qfcit54a/vk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>