<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc35ff91-2b0a-4461-9db4-7aed0af2b502" Alias="Vnv" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vnv</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Vnv" />
    <SortOrder>458</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ud5dlpak/vnv.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>