<?xml version="1.0" encoding="utf-8"?>
<Media Key="979e41da-3fa5-4a07-87ce-df445cbe635d" Alias="Vuejs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vuejs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Vuejs" />
    <SortOrder>459</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3naj3f3f/vuejs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>