<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2be391b-1673-49f3-9b5f-9b84878fdcab" Alias="Watchman Monitoring" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WatchmanMonitoring</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Watchman Monitoring" />
    <SortOrder>460</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fi2l3qtt/watchman-monitoring.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>