<?xml version="1.0" encoding="utf-8"?>
<Media Key="270d8c86-b9e5-4ccd-ad65-12962fae0549" Alias="Web Awesome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WebAwesome</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Web Awesome" />
    <SortOrder>462</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w4ga0j5f/web-awesome.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>