<?xml version="1.0" encoding="utf-8"?>
<Media Key="0edd0f9c-0a80-4a48-8621-508a5fedb564" Alias="Webflow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Webflow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Webflow" />
    <SortOrder>463</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vuhn0dua/webflow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>