<?xml version="1.0" encoding="utf-8"?>
<Media Key="655f95be-b713-43a6-95d9-2bd71d1e5689" Alias="Weebly" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Weebly</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Weebly" />
    <SortOrder>464</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r4kf4zit/weebly.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>