<?xml version="1.0" encoding="utf-8"?>
<Media Key="9870b4d1-4f25-4baf-ac2f-135ed4d56ba7" Alias="Weibo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Weibo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Weibo" />
    <SortOrder>465</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2c0hbgbf/weibo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>