<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8966248-e669-4068-8efd-1ce5361d25fe" Alias="Weixin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Weixin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Weixin" />
    <SortOrder>466</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pfrjnwdj/weixin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>