<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9d5f412-57e1-4866-a53b-2bc56437f2ad" Alias="Whatsapp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whatsapp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Whatsapp" />
    <SortOrder>467</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ep0nlkpb/whatsapp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>