<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ead245a-78b2-4b71-9990-4faecce96709" Alias="Whmcs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whmcs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Whmcs" />
    <SortOrder>468</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nmsk1hvs/whmcs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>