<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c2c7a51-e115-4773-aa45-9358498f126c" Alias="Wikipedia W" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WikipediaW</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wikipedia W" />
    <SortOrder>469</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mb3cyhav/wikipedia-w.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>