<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbbd32cc-482e-46e6-a4ae-16cdb2e5e033" Alias="Windows" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Windows</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Windows" />
    <SortOrder>470</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5uzl1wzo/windows.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>