<?xml version="1.0" encoding="utf-8"?>
<Media Key="24dcec20-cf6d-4758-b076-0d099894d7f2" Alias="Wirsindhandwerk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wirsindhandwerk</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wirsindhandwerk" />
    <SortOrder>471</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/chwnyjdn/wirsindhandwerk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>