<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c1ee9bb-3167-424d-8ef2-5709fb315849" Alias="Wix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wix" />
    <SortOrder>472</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rlub2ldh/wix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>