<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c92b9e5-03af-4194-aea0-ff59fa7c429b" Alias="Wizards Of The Coast" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WizardsOfTheCoast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wizards Of The Coast" />
    <SortOrder>473</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0s2jexfp/wizards-of-the-coast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>