<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1108217-59b6-4f28-9257-f8e4baa1de26" Alias="Wodu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wodu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wodu" />
    <SortOrder>474</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/e0bbbqnw/wodu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>