<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a446071-b9bc-44a6-8c22-503d40f13d5b" Alias="Wolf Pack Battalion" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WolfPackBattalion</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wolf Pack Battalion" />
    <SortOrder>475</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ibqeicv2/wolf-pack-battalion.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>