<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d61983a-948c-4ef9-98f3-214b6668931b" Alias="Wordpress Simple" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WordpressSimple</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wordpress Simple" />
    <SortOrder>477</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bomgctmm/wordpress-simple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>