<?xml version="1.0" encoding="utf-8"?>
<Media Key="20604073-6aeb-444f-a314-9983b6d922fd" Alias="Wordpress" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wordpress</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wordpress" />
    <SortOrder>476</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ijagaihl/wordpress.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>