<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e73f035-1b35-4a9c-a3d4-c86be64ff1e8" Alias="Wpbeginner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wpbeginner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wpbeginner" />
    <SortOrder>478</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/atyhglrv/wpbeginner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>