<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e5f27b4-baa5-445d-a351-456cdd2936d0" Alias="Wpressr" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wpressr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Wpressr" />
    <SortOrder>481</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qutf4hvf/wpressr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>