<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d10224b-89da-4543-b700-eb22eba5d196" Alias="X Social" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XSocial</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-07T00:01:17</CreateDate>
    <NodeName Default="X Social" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/pirbbho0/x-social.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>