<?xml version="1.0" encoding="utf-8"?>
<Media Key="5849428d-c8be-4763-907b-256af5f4d34c" Alias="X Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="X Twitter" />
    <SortOrder>484</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xrbeswf4/x-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>