<?xml version="1.0" encoding="utf-8"?>
<Media Key="22857273-7327-474c-917d-b99cd424e43a" Alias="Xing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Xing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Xing" />
    <SortOrder>483</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ijzikirh/xing.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>