<?xml version="1.0" encoding="utf-8"?>
<Media Key="07c055b0-dd97-4236-a757-ebc42d1a6dcf" Alias="Y Combinator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/YCombinator</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Y Combinator" />
    <SortOrder>490</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qfknab2x/y-combinator.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>