<?xml version="1.0" encoding="utf-8"?>
<Media Key="87656474-a7b1-4e30-b486-bd276d10a69f" Alias="Yahoo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yahoo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Yahoo" />
    <SortOrder>485</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ivsglb3r/yahoo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>