<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fba97a4-835c-4c12-a462-4978bfe9ce8a" Alias="Yandex" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yandex</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Yandex" />
    <SortOrder>487</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/swllut02/yandex.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>