<?xml version="1.0" encoding="utf-8"?>
<Media Key="2713f17e-2c12-4ed9-820f-ec60157b4b85" Alias="Yandex International" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/YandexInternational</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Yandex International" />
    <SortOrder>488</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/j5ybgjys/yandex-international.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>