<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf1a987-d224-44e6-88e2-2574de671901" Alias="Yarn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yarn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Yarn" />
    <SortOrder>489</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/w0updoze/yarn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>