<?xml version="1.0" encoding="utf-8"?>
<Media Key="80751bda-33fc-4bc4-8863-71e6edca4773" Alias="Yoast" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yoast</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:38</CreateDate>
    <NodeName Default="Yoast" />
    <SortOrder>492</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3mnhlah2/yoast.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>