<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a3b5797-9e20-4c40-9bbd-6d9f4b438057" Alias="Youtube" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:39</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>493</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/uzldwkra/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>