<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b9c9df7-8c52-4680-96a7-84c01163593d" Alias="Zhihu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zhihu</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-08T22:54:39</CreateDate>
    <NodeName Default="Zhihu" />
    <SortOrder>494</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/y0ojyg0s/zhihu.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>