<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5481441e-93f1-435d-8b8a-7d61201e140f" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>note-sticky color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main page type for this website. You will build your content using the block grid</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4adfd88a-95cb-4d08-8f48-359094ef18fb">contentProperties</Composition>
      <Composition Key="8d23505c-573e-4811-8379-0b8d5118126e">headerProperties</Composition>
      <Composition Key="5feec9ba-fd9e-440d-b35b-a3da3f2275e1">seoProperties</Composition>
      <Composition Key="3043657d-2e33-46b3-90d7-b6df0c1fc3f8">taggingProperties</Composition>
      <Composition Key="1202cd8f-3d2f-4a15-913d-9cb252aee3a9">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e25a12ca-c370-4fd4-bdef-5b3a7342c47e">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>