<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de0381e9-438c-48e2-8167-c0d618cc2115" Alias="reusableContentRepository" Level="2">
  <Info>
    <Name>Reusable Content Repository</Name>
    <Icon>icon-files color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="633dfd64-51a9-4c99-9870-961867ab1cff" SortOrder="0">reusableContentItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>