<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3645f7d1-a3ba-413a-960d-151b34ba344e" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>magnifying-glass color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5feec9ba-fd9e-440d-b35b-a3da3f2275e1">seoProperties</Composition>
      <Composition Key="3043657d-2e33-46b3-90d7-b6df0c1fc3f8">taggingProperties</Composition>
      <Composition Key="1202cd8f-3d2f-4a15-913d-9cb252aee3a9">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75003969-cd17-41c4-94cf-5c85b9525e90">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>