<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a88960c4-244a-43ea-8ee9-3d23237c7bb1" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="6e0a630e-3ec5-482f-b800-214f98739794">footerProperties</Composition>
      <Composition Key="a4cddeab-b35c-4587-b208-682535a43be4">mainNavigationProperties</Composition>
      <Composition Key="3dbe832e-735a-491b-a5e9-284c7a31460f">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2c6d5f69-8fc1-4fe4-818f-e6964ae409b0" SortOrder="0">pageTags</ContentType>
    <ContentType Key="de0381e9-438c-48e2-8167-c0d618cc2115" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>