<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1f9fe6c-e941-4e3b-a627-49dfa3a738a4" Alias="About" Level="2">
  <Info>
    <Parent Key="8f6871c7-ad93-4c54-bbae-4ba359ac55de">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-10-02T23:12:38</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e25a12ca-c370-4fd4-bdef-5b3a7342c47e">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/bf1512ef152f448d8ba2b996c6791fe4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "470c689c-bac6-41fd-824c-22b2232e2ecc",
      "udi": "umb://element/bf1512ef152f448d8ba2b996c6791fe4",
      "image": [
        {
          "key": "dc78b43f-a6d5-4a79-a1e7-649957fb0788",
          "mediaKey": "c9e61a5d-4683-4434-9130-60eea97f3079"
        }
      ],
      "title": "This is the title",
      "subtitle": "This is the subtitle"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/013c1fcf7df0420bbc247c7df97cc342",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0f4b843e69194210a59e8a585b595439",
        "areas": [
          {
            "key": "c962cd09-0679-43f8-9b26-d3554f7fef45",
            "items": [
              {
                "contentUdi": "umb://element/0c4bd919fcce4ea5860da191d54f56b1",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "6d362bc1-38dc-4285-85f4-cc255e0e452e",
            "items": [
              {
                "contentUdi": "umb://element/2bd1e27803424b25a57c16dacbc4a53d",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c028ae2008374b988d7ab4650b2df1f0",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/15e33db471af4c7aba43834d298c6e87",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "73b86768-ae1b-4890-b470-72e36b99fdaa",
      "udi": "umb://element/0f4b843e69194210a59e8a585b595439"
    },
    {
      "contentTypeKey": "0f9ff672-9e97-4b87-8a92-23e3ffd73940",
      "udi": "umb://element/0c4bd919fcce4ea5860da191d54f56b1",
      "text": "This is the title",
      "color": {
        "value": "2c3e50",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "23c0857a-53f4-40dc-87ba-b4e5ef1ad897",
      "udi": "umb://element/2bd1e27803424b25a57c16dacbc4a53d",
      "image": [
        {
          "key": "025e4e03-94e2-467f-ba7c-66125f63dff7",
          "mediaKey": "c9e61a5d-4683-4434-9130-60eea97f3079"
        }
      ],
      "link": [
        {
          "udi": "umb://document/d1f9fe6ce9414e3ba62749dfa3a738a4"
        }
      ]
    },
    {
      "contentTypeKey": "23c0857a-53f4-40dc-87ba-b4e5ef1ad897",
      "udi": "umb://element/c028ae2008374b988d7ab4650b2df1f0",
      "image": [
        {
          "key": "8847a17f-e2f3-49da-8eb3-aa5c438a1d76",
          "mediaKey": "c9e61a5d-4683-4434-9130-60eea97f3079"
        }
      ],
      "link": [
        {
          "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
        }
      ]
    },
    {
      "contentTypeKey": "23c0857a-53f4-40dc-87ba-b4e5ef1ad897",
      "udi": "umb://element/15e33db471af4c7aba43834d298c6e87",
      "image": [
        {
          "key": "2f6a428b-cd1f-49e4-8751-08463079fa38",
          "mediaKey": "c9e61a5d-4683-4434-9130-60eea97f3079"
        }
      ],
      "link": [
        {
          "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
        }
      ]
    },
    {
      "contentTypeKey": "a133556e-61d9-4473-ad20-a1a65ba3ab62",
      "udi": "umb://element/013c1fcf7df0420bbc247c7df97cc342",
      "contentItem": "umb://document/4509e433a75848819a7af606a2610be2"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/e4d381ea101041729844cdce7364d556,umb://document/b0804dab834e40a68b56dca4fd235c01]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>