<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0804dab-834e-40a6-8b56-dca4fd235c01" Alias="Block List" Level="4">
  <Info>
    <Parent Key="6bf2cb03-3654-481e-ac4f-58897540e207">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-10-02T23:26:32</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>