<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4d381ea-1010-4172-9844-cdce7364d556" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="6bf2cb03-3654-481e-ac4f-58897540e207">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-10-02T23:26:23</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>