<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bf2cb03-3654-481e-ac4f-58897540e207" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="4f08efa0-61bf-44ab-a554-840b6e70d1f3">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2024-10-02T23:20:33</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>