<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfb352b6-ec26-4069-a19c-1b530eaedf0a" Alias="Reusable Content" Level="3">
  <Info>
    <Parent Key="4f08efa0-61bf-44ab-a554-840b6e70d1f3">Site Settings</Parent>
    <Path>/Home/SiteSettings/ReusableContent</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentRepository</ContentType>
    <CreateDate>2024-10-09T16:42:31</CreateDate>
    <NodeName Default="Reusable Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>