<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab595a46-2ac4-4066-83e8-1393760c4121" Alias="Search" Level="2">
  <Info>
    <Parent Key="8f6871c7-ad93-4c54-bbae-4ba359ac55de">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-10-02T23:13:55</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75003969-cd17-41c4-94cf-5c85b9525e90">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>