<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f08efa0-61bf-44ab-a554-840b6e70d1f3" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="8f6871c7-ad93-4c54-bbae-4ba359ac55de">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-10-02T23:16:09</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "59bc05f6-df53-45ef-af53-4f92f0559e18",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/1f576149e6e64cfa97ce3086e48bc7d9"
              }
            ]
          },
          {
            "key": "873d5452-ef64-4de6-b1a4-22f8d265f8c3",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/95cbd39e4fa6460b941e8d9a71ae5617"
              }
            ]
          },
          {
            "key": "fda2cb72-c46d-455c-a2a9-63f32fa66304",
            "items": [
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/c20ffdca21324e1b8ff0ed48d75f2d62"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/08490e38cef04105860e4032f1663406"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f2f55f74-8921-4ba7-837c-72e55f06e76b",
      "udi": "umb://element/08490e38cef04105860e4032f1663406"
    },
    {
      "contentTypeKey": "7c04e837-fb56-448c-b1c6-3a1474f2792d",
      "udi": "umb://element/1f576149e6e64cfa97ce3086e48bc7d9",
      "title": "Title 1",
      "text": {
        "markup": "<p class=\"lead\">This is the title</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e6c9cac4-a45d-400f-a5bf-8c0bd477535a",
      "udi": "umb://element/95cbd39e4fa6460b941e8d9a71ae5617",
      "title": "Social Links",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8e26ef0314c74ff58ca7f942968ae963"
            },
            {
              "contentUdi": "umb://element/6aa9f4abf70144df9711e8e47d5cb1b6"
            },
            {
              "contentUdi": "umb://element/00b8c38f35304f5e80cbf710b1c24423"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "48498e31-22f2-4db0-9800-67ae165e386c",
            "udi": "umb://element/8e26ef0314c74ff58ca7f942968ae963",
            "link": [
              {
                "name": "X",
                "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
              }
            ],
            "icon": [
              {
                "key": "97e61a96-3173-4992-8636-bfbb8700a41f",
                "mediaKey": "49babd48-f511-4160-98d3-31e7b88b6e4b"
              }
            ],
            "iconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            },
            "invertedIconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            }
          },
          {
            "contentTypeKey": "48498e31-22f2-4db0-9800-67ae165e386c",
            "udi": "umb://element/6aa9f4abf70144df9711e8e47d5cb1b6",
            "link": [
              {
                "name": "X",
                "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
              }
            ],
            "icon": [
              {
                "key": "b2362958-2792-499b-89eb-e622b6c39799",
                "mediaKey": "909eb65a-7f5f-436a-8cf3-5426b670aa11"
              }
            ],
            "iconColor": {
              "value": "0dcaf0",
              "label": "Info",
              "sortOrder": 7,
              "id": "8"
            },
            "invertedIconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            }
          },
          {
            "contentTypeKey": "48498e31-22f2-4db0-9800-67ae165e386c",
            "udi": "umb://element/00b8c38f35304f5e80cbf710b1c24423",
            "link": [
              {
                "name": "X",
                "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
              }
            ],
            "icon": [
              {
                "key": "93691a4b-bac5-4508-b15f-f248ec70649c",
                "mediaKey": "0efa61bb-9aea-428e-b467-2af7a4392265"
              }
            ],
            "iconColor": {
              "value": "ffc107",
              "label": "Warning",
              "sortOrder": 6,
              "id": "7"
            },
            "invertedIconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "7c04e837-fb56-448c-b1c6-3a1474f2792d",
      "udi": "umb://element/c20ffdca21324e1b8ff0ed48d75f2d62",
      "title": "Title 3",
      "text": {
        "markup": "<p class=\"lead\">This is more</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/97e755248e6e4f20bb23a3ea91537b0e",
        "areas": [
          {
            "key": "917e71fa-89eb-4723-927c-24d40b09271a",
            "items": [
              {
                "contentUdi": "umb://element/56863ab78d55494b96ebe6dad9c608e9",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6bb05a90d050491eb8461f166471c1f7",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e253b35a69574336af4bd66d3e4eed86",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ae45d945-546b-4e63-bb11-d32d0a898dc6",
      "udi": "umb://element/97e755248e6e4f20bb23a3ea91537b0e"
    },
    {
      "contentTypeKey": "9f8a288a-0725-403c-bb8d-787891eb342e",
      "udi": "umb://element/6bb05a90d050491eb8461f166471c1f7",
      "title": "About",
      "link": [
        {
          "name": "About",
          "udi": "umb://document/d1f9fe6ce9414e3ba62749dfa3a738a4"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "9f8a288a-0725-403c-bb8d-787891eb342e",
      "udi": "umb://element/e253b35a69574336af4bd66d3e4eed86",
      "title": "Search",
      "link": [
        {
          "udi": "umb://document/ab595a462ac4406683e81393760c4121"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "9f8a288a-0725-403c-bb8d-787891eb342e",
      "udi": "umb://element/56863ab78d55494b96ebe6dad9c608e9",
      "title": "Dropdown",
      "link": "",
      "childLinks": [
        {
          "name": "Home",
          "udi": "umb://document/8f6871c7ad934c54bbae4ba359ac55de"
        },
        {
          "name": "About",
          "udi": "umb://document/d1f9fe6ce9414e3ba62749dfa3a738a4"
        },
        {
          "name": "Search",
          "udi": "umb://document/ab595a462ac4406683e81393760c4121"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Start Boot]]></Value>
    </siteName>
  </Properties>
</Content>