<?xml version="1.0" encoding="utf-8"?>
<Content Key="4509e433-a758-4881-9a7a-f606a2610be2" Alias="Testing" Level="4">
  <Info>
    <Parent Key="bfb352b6-ec26-4069-a19c-1b530eaedf0a">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2024-10-09T16:43:00</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/14f33d80676344c8b79374f9f0be9537",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/9421e5d7ed2342e4af1d375c38f0d246"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d20e374f-ae33-4b0f-87d2-a16abea9ef7a",
      "udi": "umb://element/14f33d80676344c8b79374f9f0be9537",
      "text": {
        "markup": "<p>This is a block of content, that is edited in a central location but can be picked to be used on any page</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "07a211a7-db85-4486-9632-aee1aa00465f",
      "udi": "umb://element/9421e5d7ed2342e4af1d375c38f0d246",
      "image": [
        {
          "key": "f918fdbc-6cd8-43f3-8800-40bcf757b340",
          "mediaKey": "c9e61a5d-4683-4434-9130-60eea97f3079"
        }
      ],
      "caption": "Dunes under the stars"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>